<!-- Widget ID (each widget will need unique ID)-->
<div class="confirmation-modal" jarvis-widget data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
    <h2>Create New Report</h2>
    <div class="jarviswidget-ctrls" role="menu">
      <a href="javascript:void(0);" ng-click="this.$dismiss()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
    </div>
  </header>

  <!-- widget div-->
  <div id="widget-content" class="confirmation-modal-body" cg-busy="savingPromise">
    <!-- widget content -->
    <form class="smart-form">
      <fieldset>
        <div class="row">
          <section>
            <label class="label">Title</label>
            <label class="input">
              <input type="text" class="input-lg" ng-model="title">
            </label>
          </section>
        </div>
      </fieldset>
    </form>

    <div id="report-content" style="max-height: 400px; overflow: auto; text-align: center;">

    </div>


    <!-- end widget content -->
  </div>
  <section class="confirmation-modal-footer">
    <button class="btn btn-secondary" ng-click="this.$dismiss()">Cancel</button>
    <button class="btn btn-success" ng-click="save()">Save</button>
  </section>
  <!-- end widget div -->

</div>
<!-- end widget -->
