<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget class="confirmation-modal" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-warning"></i> </span>
      <h2>Report</h2>
    </header>

    <!-- widget div-->
    <div class="confirmation-modal-body">
        <!-- widget content -->
      <h3>Your report has been saved to your reports area. Click below to go to your reports area.</h3>

    </div>
    <section class="confirmation-modal-footer">
      <button class="btn btn-secondary" ng-click="return()">Return</button>
      <button class="btn btn-success" ng-click="viewReports()">View Reports</button>
    </section>
    <!-- end widget div -->

</div>
<!-- end widget -->