<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget class="confirmation-modal" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-warning"></i> </span>
        <h2 ng-if="headerText">{{headerText}}</h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="javascript:void(0);" ng-click="cancelClicked()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
        </div>
    </header>

    <div class="confirmation-modal-body">
      <h3 ng-repeat="text in bodyText track by $index">{{text}}</h3>
    </div>


    <section class="confirmation-modal-footer">
      <button ng-if="cancelText" class="btn btn-secondary" ng-click="cancelClicked()">{{cancelText}}</button>
      <button class="btn btn-success" ng-click="confirmClicked()">{{confirmText}}</button>
    </section>
<!-- END Widget div-->
</div>