<form name="form" class="smart-form" ng-class="{'transmitting':transmitting}">
    <fieldset>
        <div class="row">
            <section class="col col-6">
                <label class="label">Name</label>
                <label class="input" ng-class="{'state-disabled': transmitting || appScope.readOnly }"> <i class="icon-prepend fa fa-pencil"></i>
                    <input type="text" name="name" placeholder="{{appScope.editedDataGroup.name || title + ' Name'}}" ng-model="appScope.editedDataGroup.name" ng-disabled="transmitting || appScope.readOnly">
                </label>
            </section>
            <section class="col col-6">
                <label class="label">ID</label>
                <label class="input state-disabled"> <i class="icon-prepend fa fa-bookmark"></i>
                    <input disabled="disabled" name="id" placeholder="{{appScope.editedDataGroup._id || 'Will populate from server on register' }}" ng-model="appScope.editedDataGroup._id">
                </label>
            </section>
        </div>
        <div class="row" ng-if="!appScope.newDataGroup">
            <section class="col col-6">
                <label class="label">Owner</label>
                <label class="input state-disabled"> <i class="icon-prepend fa fa-user"></i>
                    <input disabled="disabled" type="text" name="ownerDisplayName" placeholder="{{appScope.editedDataGroup.ownerDisplayName}}" ng-model="appScope.editedDataGroup.ownerDisplayName">
                </label>
            </section>
            <section class="col col-6">
                <label class="label">Owner ID</label>
                <label class="input state-disabled"> <i class="icon-prepend fa fa-bookmark"></i>
                    <input disabled="disabled" name="ownerId" placeholder="{{appScope.editedDataGroup.ownerId}}" ng-model="appScope.editedDataGroup.ownerId">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">Description</label>
                <label class="textarea" ng-class="{'state-disabled': transmitting || appScope.readOnly }">
                    <textarea name="description" placeholder="{{appScope.editedDataGroup.description || 'Describe this ' + title }}" ng-model="appScope.editedDataGroup.description" rows="3" ng-disabled="transmitting || appScope.readOnly"></textarea>
                </label>
            </section>

            <section class="col col-6" ng-if="appScope.selectedType!='user'">

                <label class="label">Tags</label>
                <ik-tags-input tags-as-array="appScope.editedDataGroup.tags" readonly="appScope.readOnly" tags-as-string="tagsAsString">
                </ik-tags-input>
            </section>
        </div>
    </fieldset>

    <fieldset ng-if="!appScope.newDataGroup && appScope.selectedType == 'user'">
      <div class="row">
        <section class="col col-md-12">
          <h4>Data Group Access</h4>
          <hr class="simple">
          <div ng-if="!appScope.editedDataGroup.dataGroups || appScope.editedDataGroup.dataGroups.length == 0">
            <span>This group does not belong to any data groups, or you do not have permissions to see the data groups.</span>
          </div>
          <div class="custom-scroll table-responsive edit-table" width="100%" ng-if="appScope.editedDataGroup.dataGroups.length > 0">
            <table datatable-basic class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Description</th>
                <th>Manage</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="dataGroup in appScope.editedDataGroup.dataGroups">
                <td>{{dataGroup.name}}</td>
                <td>{{dataGroup.ownerDisplayName}}</td>
                <td>{{dataGroup.description}}</td>
                <td>
                  <button type="button" class="btn btn-secondary btn-sm" ng-if="appScope.isAdmin" ui-sref="app.manager.modal.manageDataGroups({groupIdToEdit:dataGroup._id, readOnly: false})"><i class="fa fa-edit"></i> Manage</button>
                  <button type="button" ng-if="!appScope.isAdmin" class="btn btn-info btn-sm" ui-sref="app.manager.modal.manageDataGroups({groupIdToEdit:dataGroup._id, readOnly: true})"><i class="fa fa-eye"></i> Details</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </fieldset>

    <fieldset ng-if="!appScope.newDataGroup && appScope.selectedType != 'user'">
      <div class="row">
        <section class="col col-md-12">
          <h4>Sources</h4>
          <hr class="simple">
          <div ng-if="!appScope.editedDataGroup.sources || appScope.editedDataGroup.sources.length == 0">
            <span>There are no sources on this data group, or you do not have permission to see the sources.</span>
          </div>
          <div class="custom-scroll table-responsive edit-table" width="100%" ng-if="appScope.editedDataGroup.sources.length > 0">
            <table datatable-basic class="table table-bordered table-striped">
              <thead>
                <tr>
                <th>Name</th>
                <th>Date/Time</th>
                <th>State</th>
                <th>Origin</th>
                <th>Type</th>
                <th>Manage</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="source in appScope.editedDataGroup.sources">
                <td>{{source.title}}</td>
                <td>{{source.modified}}</td>
                <td>
                  <span ng-if="!source.share" class="label label-success" ng-class="{'label-danger': source.searchCycle_secs < 0}">{{source.searchCycle_secs < 0 ? 'Suspended' : 'Published'}}</span>
                  <span ng-if="source.share" class="label label-primary">Saved</span>
                </td>
                <td>{{source.origin}}</td>
                <td>{{source.dataType}}</td>
                <td>
                  <button type="button" class="btn btn-info btn-sm" ui-sref="app.manager.modal.sourceList({searchText:source.title, sourceIdToView:source._id})"><i class="fa fa-eye"></i> View</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </fieldset>

    <fieldset ng-if="!appScope.newDataGroup">
        <div class="row">
        <section class="col col-6">
            <h4>{{appScope.editedDataGroup.name}} Users <span ng-if="appScope.selectedType !== 'user'">& User Groups</span> </h4>
            <hr class="simple">
            <uib-tabset>
              <uib-tab class="active">
                <uib-tab-heading>All <span class="badge bg-color-blue txt-color-white">{{appScope.allUsersAdded}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter All" type="text" ng-model="searchAllCurrentUsers"></label>
                  <ul class="list-group memberHeight">
                      <li class="list-group-item clearfix"><strong>Owner: {{appScope.editedDataGroup.ownerDisplayName || currFullname}}</strong></li>
                      <li ng-attr-collapsible="{{member.members.length > 0 || undefined}}" ng-if="member.userType != 'owner'" class="list-group-item clearfix" ng-repeat="member in appScope.editedDataGroup.members | filter: searchAllCurrentUsers | orderBy: 'displayName'">
                          <a>
                              <i ng-if="member.type === 'user_group'" class="fa fa-group"></i>
                              {{member.displayName}} &nbsp;
                              <i ng-if="member.type === 'user_group' && member.members.length === 0" class="fa fa-lock"></i>
                          </a>
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-danger btn-sm pull-right" ng-click="appScope.member = member; appScope.inCommunities();appScope.member = null"><i class="fa fa-minus"></i></button>
                          <ul class="expand-list">
                              <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in member.members">{{groupMember.displayName}}</li>
                              <li data-smart-menu-async class="hidden" ng-if="$last && member.members.length === 0"></li>
                          </ul>
                      </li>
                  </ul>
                </div>
              </uib-tab>
              <uib-tab>
                <uib-tab-heading>Users <span class="badge bg-color-blue txt-color-white">{{appScope.usersAdded}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter Users" type="text" ng-model="searchCurrentUsers"></label>
                  <ul class="list-group memberHeight">
                      <li class="list-group-item clearfix"><strong>Owner: {{appScope.editedDataGroup.ownerDisplayName}}</strong></li>
                      <li ng-if="member.userType != 'owner'" class="list-group-item clearfix" ng-repeat="member in appScope.editedDataGroup.members | filter: searchCurrentUsers | orderBy: 'displayName'" ng-show="member.type == 'user' || member.userType == 'member'">
                          {{member.displayName}}
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-danger btn-sm pull-right" ng-click="appScope.member = member; appScope.inCommunities();appScope.member = null"><i class="fa fa-minus"></i></button>
                      </li>
                  </ul>
                </div>
              </uib-tab>
              <uib-tab ng-if="appScope.selectedType !== 'user'">
                <uib-tab-heading>User Groups <span class="badge bg-color-blue txt-color-white">{{appScope.userGroupsAdded}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter User Groups" type="text" ng-model="searchCurrentUserGroups"></label>
                  <ul class="list-group memberHeight">
                      <li ng-attr-collapsible="{{member.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="member in appScope.editedDataGroup.members | filter: searchCurrentUserGroups | orderBy: 'displayName'" ng-show="member.type=='user_group'"> 
                          <a>
                              <i class="fa fa-group"></i>
                              {{member.displayName}} &nbsp;
                              <i ng-if="member.members.length === 0" class="fa fa-lock"></i>
                          </a>
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-danger btn-sm pull-right" ng-click="appScope.member = member; appScope.inCommunities();appScope.member = null"><i class="fa fa-minus"></i></button>
                          <ul class="expand-list">
                              <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in member.members">{{groupMember.displayName}}</li>
                              <li data-smart-menu-async class="hidden" ng-if="$last && member.members.length === 0"></li>
                          </ul>
                      </li>
                  </ul>
                </div>
              </uib-tab>
            </uib-tabset>
        </section>
        
        <section class="col col-6">
            <h4>Available Users <span ng-if="appScope.selectedType !== 'user'">& User Groups</span> </h4>
            <hr class="simple">
            <uib-tabset>
              <uib-tab class="active">
                <uib-tab-heading>All <span class="badge bg-color-blue txt-color-white">{{appScope.allUsersAvail}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter All" type="text" ng-model="searchAllUsers"></label>
                  <ul class="list-group memberHeight">
                      <li ng-attr-collapsible="{{aUser.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="aUser in appScope.users | filter: searchAllUsers | orderBy: 'displayName'" ng-if="aUser._id != appScope.editedDataGroup.ownerId">
                          <a>
                              <i ng-if="aUser.type === 'user'" class="fa fa-group"></i>
                              {{aUser.displayName}} &nbsp;
                              <i ng-if="aUser.type === 'user' && aUser.members.length === 0" class="fa fa-lock"></i>
                          </a>
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-success btn-sm pull-right" ng-click="appScope.aUser = aUser; appScope.inCommunities();appScope.aUser = null"><i class="fa fa-plus"></i></button>
                          <ul class="expand-list">
                              <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in aUser.members">{{groupMember.displayName}}</li>
                              <li data-smart-menu-async class="hidden" ng-if="$last && member.members.length === 0"></li>
                          </ul>
                      </li>
                  </ul>
                </div>
              </uib-tab>
              <uib-tab>
                <uib-tab-heading>Users <span class="badge bg-color-blue txt-color-white">{{appScope.usersAvail}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter Users" type="text" ng-model="searchUsers"></label>
                  <ul class="list-group memberHeight">
                      <li class="list-group-item clearfix" ng-repeat="aUser in appScope.users | filter: searchUsers | orderBy: 'displayName'" ng-show="!aUser.type" ng-if="aUser._id != appScope.editedDataGroup.ownerId">
                          {{aUser.displayName}}
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-success btn-sm pull-right" ng-click="appScope.aUser = aUser; appScope.inCommunities();appScope.aUser = null"><i class="fa fa-plus"></i></button>
                      </li>
                  </ul>
                </div>
              </uib-tab>
              <uib-tab ng-if="appScope.selectedType !== 'user'">
                <uib-tab-heading>User Groups <span class="badge bg-color-blue txt-color-white">{{appScope.userGroupsAvail}}</span></uib-tab-heading>
                <div class="bordered">
                  <label class="input"><input placeholder="Filter User Groups" type="text" ng-model="searchUserGroups"></label>
                  <ul class="list-group memberHeight">
                      <li ng-attr-collapsible="{{aUser.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="aUser in appScope.users | filter: searchUserGroups | orderBy: 'displayName'" ng-show="aUser.type=='user'">
                          <a>
                              <i class="fa fa-group"></i>
                              {{aUser.displayName}} &nbsp;
                              <i ng-if="aUser.members.length === 0" class="fa fa-lock"></i>
                          </a>
                          <button ng-show="!appScope.readOnly" type="button" formnovalidate class="cancel btn btn-success btn-sm pull-right" ng-click="appScope.aUser = aUser; appScope.inCommunities();appScope.aUser = null"><i class="fa fa-plus"></i></button>
                          <ul class="expand-list">
                              <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in aUser.members">{{groupMember.displayName}}</li>
                              <li data-smart-menu-async class="hidden" ng-if="$last && member.members.length === 0"></li>
                          </ul>
                      </li>
                  </ul>
                </div>
              </uib-tab>
            </uib-tabset>
        </section>
        </div>
    </fieldset>
    
    <footer ng-show="!transmitting">
        <button ng-if="!appScope.readOnly" class="btn btn-success btn-sm" ng-click="appScope.processForm()"><i class="fa fa-save"></i> {{appScope.newDataGroup ? "Save New" : "Update"}}</button>
        <button ng-if="!appScope.newDataGroup && !appScope.readOnly" class="btn btn-sm" ng-class="appScope.editedDataGroup.communityStatus=='active' ? 'btn-danger' : 'btn-danger' " ng-click="appScope.deleteDataGroup()">
            <i class="fa" ng-class="appScope.editedDataGroup.communityStatus=='active' ? 'fa-ban' : 'fa-times-circle' "></i>
            <span>{{appScope.editedDataGroup.communityStatus=='active' ? 'Delete' : 'Confirm Delete'}}</span>
        </button>
        <button ng-if="!appScope.readOnly" class="btn btn-secondary btn-sm" ng-click="appScope.cancel()"><i class="fa fa-undo"></i> Cancel</button>
        <button ng-if="appScope.readOnly" class="btn btn-success btn-sm publishBtn" ng-click="appScope.cancel()">Close</button>

    </footer>
</form>