<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-color="blueLight" data-widget-fullscreenbutton="false">
    <!-- widget options:
        usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">
        
        data-widget-colorbutton="false" 
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true" 
        data-widget-sortable="false"
    -->
    <header>
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2></h2>
        <h2 ng-show="!appScope.readOnly">{{item.name ? 'Edit ' : 'New '}}{{title}}</h2>
        <h2 ng-show="appScope.readOnly">View {{title}} Details</h2>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <datagroup-form></datagroup-form>
        </div>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->