<form class="smart-form" ng-class="{'transmitting':transmitting}">
    <fieldset>
        <div class="row">
            <section class="col col-6">All fields are required</section>
        </div>
        <div class="row">
            <section class="col col-4">
                <label class="label">First Name</label>
                <label class="input" ng-class="{'state-disabled': transmitting }"> <i class="icon-prepend fa fa-user"></i>
                    <input name="firstname" ng-model="appScope.editedUser.firstName" value="appScope.editedUser.firstName" placeholder="{{appScope.editedUser.firstName}}" type="text" ng-disabled="transmitting">
                </label>
            </section>
            <section class="col col-4">
                <label class="label">Last Name</label>
                <label class="input" ng-class="{'state-disabled': transmitting }"> <i class="icon-prepend fa fa-user"></i>
                    <input name="lastname" ng-model="appScope.editedUser.lastName" value="appScope.editedUser.lastName" placeholder="{{appScope.editedUser.lastName}}" type="text" ng-disabled="transmitting">
                </label>
            </section>
            <section class="col col-4">
                <label class="label">ID</label>
                <label class="input state-disabled"> <i class="icon-prepend fa fa-bookmark"></i>
                    <input value="{{appScope.editedUser._id}}" disabled="disabled" type="text">
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">User Role</label>
                <label class="select" ng-class="{'state-disabled': transmitting || !appScope.isAdmin }"> <i class="icon-append fa fa-user"></i>
                    <select ng-model="appScope.editedUser.accountType" ng-options="accountType for accountType in appScope.accountTypeOptions" ng-disabled="transmitting || !appScope.isAdmin"></select>
                </label>
            </section>
            <section class="col col-6">
                <label class="label">Account Status</label>
                <label class="select" ng-class="{'state-disabled': transmitting || !appScope.isAdmin }"> <i class="icon-append fa fa-user"></i>
                    <select ng-model="appScope.editedUser.accountStatus" ng-options="accountStatus for accountStatus in appScope.accountStatusOptions" ng-disabled="transmitting || !appScope.isAdmin"></select>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label">Email</label>
                <label class="input" ng-class="{'state-disabled': transmitting }"> <i class="icon-prepend fa fa-envelope"></i>
                    <input name="email" ng-model="appScope.editedUser.email" value="appScope.editedUser.email" placeholder="{{appScope.editedUser.email}}" type="text" ng-disabled="transmitting">
                </label>
            </section>
            <section class="col col-6">
                <label class="label">Phone</label>
                <label class="input" ng-class="{'state-disabled': transmitting }"> <i class="icon-prepend fa fa-phone"></i>
                    <input name="phone" ng-model="appScope.editedUser.phone" value="appScope.editedUser.phone" placeholder="{{appScope.editedUser.phone}}" type="tel" data-smart-masked-input="(999) 999-9999" ng-disabled="transmitting">
                </label>
            </section>
        </div>
    </fieldset>
    <fieldset>
        <div class="row">
            <section class="col col-5" ng-class="{'col-6': appScope.newUser}">
                <label class="label">Password</label>
                <label class="input" ng-class="{'state-disabled': transmitting || (appScope.passwordDisabled && !appScope.newUser) }"> <i class="icon-prepend fa fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" id="password" ng-model='appScope.editedUser.password' ng-disabled="transmitting || (appScope.passwordDisabled && !appScope.newUser)" popover-animation="true" popover-trigger="focus" popover-placement="top" uib-popover="Password must be 8 or more characters and contain at least one number and one letter">
                </label>
            </section>
            <section class="col col-5" ng-class="{'col-6': appScope.newUser}">
                <label class="label">Confirm Password</label>
                <label class="input" ng-class="{'state-disabled': transmitting || (appScope.passwordDisabled && !appScope.newUser) }"> <i class="icon-prepend fa fa-lock"></i>
                    <input type="password" name="passwordConfirm" placeholder="Confirm password" ng-disabled="transmitting || (appScope.passwordDisabled && !appScope.newUser)">
                </label>
            </section>
            <section class="col col-2" ng-if="!appScope.newUser">
                <label class="label">&nbsp;</label>
                <button type="button" class="btn btn-default btn-sm" ng-click="appScope.togglePasswordDisabled()"><i class="fa fa-lock"></i> {{appScope.passwordDisabled ? 'Update Password' : 'Cancel Update'}}</button>
            </section>
        </div>
    </fieldset>
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="label">API Key</label>
          <label class="input" ng-class="{'state-disabled': transmitting }"><i class="icon-prepend fa fa-key"></i>
            <input type="text" name="apiKey" ng-model="appScope.editedUser.apiKey" ng-disabled="transmitting" placeholder="API Key" readonly>
          </label>
        </section>
        <section class="col col-2">
          <label class="label">&nbsp;</label>
          <button type="button" class="btn btn-default btn-sm" ng-click="appScope.editedUser.apiKey = appScope.generateApiKey()"><i class="fa fa-key"></i> Generate API Key</button>
        </section>
      </div>
    </fieldset>
    <fieldset ng-if="!appScope.newUser">
      <div class="row">
        <section class="col col-md-12">
          <uib-tabset>
            <uib-tab class="active">
              <uib-tab-heading>User Group Access</uib-tab-heading>
              <div class="bordered">
                <div ng-if="(!appScope.isAdmin && appScope.currUserId !== appScope.editedUser._id) || !appScope.editedUser.userGroups || appScope.editedUser.userGroups.length == 0">
                  <span>This user does not belong to any user groups, or you do not have permissions to see the user groups.</span>
                </div>
                <div class="custom-scroll table-responsive edit-table" width="100%" ng-if="(appScope.isAdmin || appScope.currUserId === appScope.editedUser._id) && appScope.editedUser.userGroups.length > 0">
                  <table datatable-basic class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Owner</th>
                      <th>Description</th>
                      <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="userGroup in appScope.editedUser.userGroups">
                      <td>{{userGroup.name}}</td>
                      <td>{{userGroup.ownerDisplayName}}</td>
                      <td>{{userGroup.description}}</td>
                      <td>
                        <button type="button" ng-if="appScope.isAdmin" class="btn btn-secondary btn-sm" ui-sref="app.manager.modal.manageUserGroups({groupIdToEdit:userGroup._id, readOnly: false})"><i class="fa fa-edit"></i> Manage</button>
                        <button type="button" ng-if="!appScope.isAdmin" class="btn btn-info btn-sm" ui-sref="app.manager.modal.manageUserGroups({groupIdToEdit:userGroup._id, readOnly: true})"><i class="fa fa-eye"></i> Details</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </uib-tab>
            <uib-tab>
              <uib-tab-heading>Data Group Access</uib-tab-heading>
              <div class="bordered">
                <div ng-if="(!appScope.isAdmin && appScope.currUserId !== appScope.editedUser._id) || !appScope.editedUser.dataGroups || appScope.editedUser.dataGroups.length == 0">
                  <span>This user does not belong to any data groups, or you do not have permissions to see the data groups.</span>
                </div>
                <div class="custom-scroll table-responsive edit-table" width="100%" ng-if="(appScope.isAdmin || appScope.currUserId === appScope.editedUser._id) && appScope.editedUser.dataGroups.length > 0">
                  <table datatable-basic class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Owner</th>
                      <th>Description</th>
                      <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dataGroup in appScope.editedUser.dataGroups">
                      <td>{{dataGroup.name}}</td>
                      <td>{{dataGroup.ownerDisplayName}}</td>
                      <td>{{dataGroup.description}}</td>
                      <td>
                        <button type="button" ng-if="appScope.isAdmin" class="btn btn-secondary btn-sm" ui-sref="app.manager.modal.manageDataGroups({groupIdToEdit:dataGroup._id, readOnly: false})"><i class="fa fa-edit"></i> Manage</button>
                        <button type="button" ng-if="!appScope.isAdmin" class="btn btn-info btn-sm" ui-sref="app.manager.modal.manageDataGroups({groupIdToEdit:dataGroup._id, readOnly: true})"><i class="fa fa-eye"></i> Details</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>
        </section>
      </div>
    </fieldset>

    <footer ng-show="!transmitting">
        <button class="btn btn-success btn-sm" ng-click="appScope.processForm(appScope.editedUser)" ng-show="!appScope.newUser"><i class="fa fa-save"></i> Update User</button>
        <button class="btn btn-success btn-sm" ng-click="appScope.processForm(appScope.editedUser)" ng-if="appScope.newUser"><i class="fa fa-save"></i> Save New</button>
        <button class="btn btn-danger btn-sm" ng-click="appScope.deleteUser(appScope.editedUser._id, appScope.editedUser.displayName)" ng-show="!appScope.newUser"><i class="fa fa-times-circle"></i> Delete</button>
        <button class="btn btn-secondary btn-sm" ng-click="appScope.cancel()"><i class="fa fa-undo"></i> Cancel</button>
    </footer>
</form>