<fieldset>
  <div class="row">
  <section class="col col-5 well data-select-left">
      <h4>{{editedDataGroup.name}} Users & User Groups </h4>
      <hr class="simple">
      <uib-tabset>
        <uib-tab class="active">
          <uib-tab-heading>All <span class="badge bg-color-blue txt-color-white">{{allUsersAdded + 1}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter All" type="text" ng-model="searchAllCurrentUsers"></label>
              <ul class="list-group memberHeight">
                  <li class="list-group-item clearfix"><strong>Owner: {{ownerDisplayName}}</strong></li>
                  <li ng-attr-collapsible="{{aUser.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="aUser in allUsers | filter: searchAllCurrentUsers | orderBy: 'displayName'" ng-show="aUser.addedToUsers">
                      <a>
                          <i ng-if="aUser.type === 'user_group'" class="fa fa-group"></i>
                          {{aUser.displayName}} &nbsp;
                          <i ng-if="aUser.type === 'user_group' && aUser.members.length === 0" class="fa fa-lock"></i>
                      </a>
                      <button class="btn btn-danger btn-sm pull-right" ng-click="aUser.addedToUsers=false; updateAddedUsers();"><i class="fa fa-minus"></i></button>
                      <ul class="expand-list">
                          <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in aUser.members">{{groupMember.displayName}}</li>
                          <li data-smart-menu-async class="hidden" ng-if="$last && userGroup.members.length === 0"></li>
                      </ul>
                  </li>
              </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>Users <span class="badge bg-color-blue txt-color-white">{{usersAdded + 1}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter Users" type="text" ng-model="searchCurrentUsers"></label>
            <ul class="list-group memberHeight">
                <li class="list-group-item clearfix"><strong>Owner: {{ownerDisplayName}}</strong></li>
                <li class="list-group-item clearfix" ng-repeat="user in allUsers | filter: searchCurrentUsers | orderBy: 'displayName'" ng-show="user.email && user.addedToUsers">
                    {{user.displayName}}
                    <button class="btn btn-danger btn-sm pull-right" ng-click="user.addedToUsers=false; updateAddedUsers();"><i class="fa fa-minus"></i></button>
                </li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>User Groups <span class="badge bg-color-blue txt-color-white">{{userGroupsAdded}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter User Groups" type="text" ng-model="searchCurrentUserGroups"></label>
            <ul class="list-group memberHeight">
                <li ng-attr-collapsible="{{userGroup.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="userGroup in allUsers | filter: searchCurrentUserGroups | orderBy: 'displayName'" ng-show="!userGroup.email && !userGroup.isPersonalCommunity && userGroup.addedToUsers">
                    <a>
                        <i class="fa fa-group"></i>
                        {{userGroup.displayName}} &nbsp;
                        <i ng-if="userGroup.members.length === 0" class="fa fa-lock"></i>
                    </a>
                    <button class="btn btn-danger btn-sm pull-right" ng-click="userGroup.addedToUsers=false; updateAddedUsers();"><i class="fa fa-minus"></i></button>
                    <ul class="expand-list">
                        <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in userGroup.members">{{groupMember.displayName}}</li>
                        <li data-smart-menu-async class="hidden" ng-if="$last && userGroup.members.length === 0"></li>
                    </ul>
                </li>
            </ul>
          </div>
        </uib-tab>
      </uib-tabset>
  </section>

  <section class="col col-5 well data-select-right">
      <h4>Available Users & User Groups </h4>
      <hr class="simple">
      <uib-tabset>
        <uib-tab class="active">
          <uib-tab-heading>All <span class="badge bg-color-blue txt-color-white">{{allUsersAvail}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter All" type="text" ng-model="searchAllUsers"></label>
            <ul class="list-group memberHeight">
                <li ng-attr-collapsible="{{aUser.members.length > 0 || undefined}}"class="list-group-item clearfix" ng-repeat="aUser in allUsers | filter: searchAllUsers | orderBy: 'displayName'" ng-show="!aUser.addedToUsers" ng-if="showUser(aUser)">
                    <a>
                        <i ng-if="aUser.type === 'user_group'" class="fa fa-group"></i>
                        {{aUser.displayName}} &nbsp;
                        <i ng-if="aUser.type === 'user_group' && aUser.members.length === 0" class="fa fa-lock"></i>
                    </a>
                    <button class="btn btn-success btn-sm pull-right" ng-click="aUser.addedToUsers=true; updateAddedUsers();"><i class="fa fa-plus"></i></button>
                    <ul class="expand-list">
                        <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in aUser.members">{{groupMember.displayName}}</li>
                        <li data-smart-menu-async class="hidden" ng-if="$last && userGroup.members.length === 0"></li>
                    </ul>
                </li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>Users <span class="badge bg-color-blue txt-color-white">{{usersAvail}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter Users" type="text" ng-model="searchUsers"></label>
            <ul class="list-group memberHeight">
                <li class="list-group-item clearfix" ng-repeat="user in allUsers | filter: searchUsers | orderBy: 'displayName'" ng-show="!user.addedToUsers && user.email" ng-if="showUser(user)">
                    {{user.displayName}}
                    <button class="btn btn-success btn-sm pull-right" ng-click="user.addedToUsers=true; updateAddedUsers();"><i class="fa fa-plus"></i></button>
                </li>
            </ul>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>User Groups <span class="badge bg-color-blue txt-color-white">{{userGroupsAvail}}</span></uib-tab-heading>
          <div class="bordered">
            <label class="input"><input placeholder="Filter User Groups" type="text" ng-model="searchUserGroups"></label>
            <ul class="list-group memberHeight">
                <li ng-attr-collapsible="{{userGroup.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="userGroup in allUsers | filter: searchUserGroups | orderBy: 'displayName'" ng-show="!userGroup.isPersonalCommunity && !userGroup.addedToUsers && !userGroup.email">
                    <a>
                        <i class="fa fa-group"></i>
                        {{userGroup.displayName}} &nbsp;
                        <i ng-if="userGroup.members.length === 0" class="fa fa-lock"></i>
                    </a>
                    <button class="btn btn-success btn-sm pull-right" ng-click="userGroup.addedToUsers=true; updateAddedUsers();"><i class="fa fa-plus"></i></button>
                    <ul class="expand-list">
                        <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="groupMember in userGroup.members">{{groupMember.displayName}}</li>
                        <li data-smart-menu-async class="hidden" ng-if="$last && userGroup.members.length === 0"></li>
                    </ul>
                </li>
            </ul>
          </div>
        </uib-tab>
      </uib-tabset>
  </section>
  </div>
</fieldset>