<div id="projects" class="btn-group transparent" uib-dropdown style="margin-top: 10px;">
  <button type="button" class="btn btn-primary" uib-dropdown-toggle>
    <span ng-if="projects && projects.length">{{currentProject.title}} <i class="fa fa-caret-down"></i></span>
    <span ng-if="!projects || projects.length == 0"><em>No Workspaces</em> <i class="fa fa-caret-down"></i></span>
  </button>
  <ul uib-dropdown-menu class="uib-dropdown-menu" ng-class="{'dropdown-project-static': projects.length, 'dropdown-no-projects': !projects.length}" role="menu">
    <li><a data-ui-sref="app.project.list"><i class="fa fa-cubes fa-fw"></i> Workspaces</a></li>
    <li><a ng-click="projectModal()"><i class="fa fa-plus-circle fa-fw"></i> Add New Workspace</a></li>
  </ul>
  <ul uib-dropdown-menu class="uib-dropdown-menu custom-scroll" ng-class="{'dropdown-override': projects.length, 'dropdown-override-no-projects': !projects.length}">
    <li ng-if="projects && projects.length" ng-repeat="project in projects | orderBy:'title'">
      <a ng-click="openProject(project)">{{project.title}}</a>
    </li>
    <li ng-if="!projects || projects.length == 0">
      <a><em>No Workspaces</em></a>
    </li>
  </ul>
</div>