<tags-input class="dataGroupTags" ng-model="tags" ng-disabled="readonly"
            add-on-blur="true" on-tag-added="updateTags()" on-tag-removed="updateTags()">
  <input type="hidden" id="tagsInputField" name="tagsInputField" value="{{tagsAsString.val}}" ng-model="tagsAsString.val" />
  <i class="icon-prepend fa fa-tags tags-fix"></i>
  <auto-complete ng-if="showAutoComplete" source="autocompleteSource($query)" min-length="1" select-first-match="false"></auto-complete>
</tags-input>
