<fieldset>
	<div class="row">
  		<section class="col-md-8 col-md-offset-2">
		  	<label class="label"><h4>Name</h4></label>
		    <label ng-class="{'state-disabled': projectUserGroup }" class="input"> <i class="icon-prepend fa fa-pencil fa-lg fa-fw"></i>
		     	<input placeholder="Name Your Project" type="text" name="projectName" ng-model="projectName" ng-disabled="projectUserGroup" ng-change="projectNameInvalid=false;">
		    </label>
		 </section>
	</div>
	<div class="row">
		<section class="col-md-8 col-md-offset-2">
		  	<label class="label"><h4>Description</h4></label>
		    <label ng-class="{'state-disabled': projectUserGroup }" class="textarea">
		    	<div class="col-md-12">
		    		<i class="icon-prepend fa fa-pencil fa-lg fa-fw"></i>
		      		<textarea rows=3 placeholder="Describe Your Project" type="text" name="projectDesc" ng-model="projectDesc" ng-disabled="projectUserGroup" class="textarea"></textarea>
		     	</div>
		    </label>
		</section>
	</div>
</fieldset>