<span>
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default">{{bulkActionLabel}}</button>
        <button type="button" class="btn btn-default dropdown-toggle">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a><label ng-model="bulkAction" btn-radio="'report'">Add to Report</label></a></li>
            <li><a><label ng-model="bulkAction" btn-radio="'bucket'">Add to Bucket</label></a></li>
            <li class="divider"></li>
            <li><a><label ng-model="bulkAction" btn-radio="'select'">Select All</label></a></li>
            <li><a><label ng-model="bulkAction" btn-radio="'deselect'">De-select All</label></a></li>
        </ul>
    </div>
    <button class="btn btn-danger">Go</button>
</span>