<div style="margin-top:1.5em; padding-bottom:0.5em; border-bottom:1px solid #CCCCCC;">
    <!-- 'Document' template -->
    <div ng-if="result.isDocument">
        <div class="row">
            <!-- result title and description -->
            <div class="col-md-9" style="border-right:1px solid #CCCCCC;">

                <table width="100%">
                    <tr>
                        <!-- <td rowspan="3" width="35" class="text-center">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="selectItem">
                                <i></i>
                            </label>
                            {{$index + 1}}
                        </td> -->
                        <td>
                            <span class="font-md" style="line-height:1.2em; font-weight: bold;">{{result.title}}</span>
                        </td>
                        <td class="text-right" style="vertical-align: top;">
                          <span class="label"
                                ng-class="{'label-primary label-external': result.sourceOrigin==='External',
                                'label-default label-internal': result.sourceOrigin==='Internal'}">{{result.sourceOrigin}}</span>
                        </td>
                        <td width="40" class="text-right" style="vertical-align: top;">
                          <!--<a class="btn btn-default btn-xs"><i class="fa fa-eye fs-1"></i></a>-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-right:10px; padding-bottom:5px;">
                            <!--<a ng-show="result.url" ng-href="{{result.url}}">{{result.url | domain | more:50}}</a> -->
                            <span>{{result.publishedDate | parseDate | date:'mediumDate' : 'UTC'}}</span>
                            | <span>{{result.publishedDate | parseDate | date:'hh:mm:ss a Z': 'UTC'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-right:10px;">
                            <p ng-show="result.description">{{result.description | htmlToPlaintext | more:400}}</p>
                            <p class="text-muted" ng-show="!result.description">No description</p>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-md-3">
                <div class="font-md" style="padding-bottom:10px;">
                    <span style="line-height:1.2em; font-weight: bold;">Entities</span>
                </div>
                <table>
                    <tr>
                        <td class="text-center" width="20%"><i class="fa fa-lg fa-user fa-border"></i></td>
                        <td class="text-center" width="20%"><i class="fa fa-lg fa-globe fa-border"></i></td>
                        <td class="text-center" width="20%"><i class="fa fa-lg fa-institution fa-border"></i></td>
                        <td class="text-center" width="20%"><i class="fa fa-lg fa-comments fa-border"></i></td>
                        <td class="text-center" width="20%"><i class="fa fa-lg fa-circle-o fa-border"></i></td>
                    </tr>
                    <tr>
                        <td class="text-center"><span class="badge">{{result.entityTotals['person']}}</span></td>
                        <td class="text-center"><span class="badge">{{result.entityTotals['place']}}</span></td>
                        <td class="text-center"><span class="badge">{{result.entityTotals['organization']}}</span></td>
                        <td class="text-center"><span class="badge">{{result.entityTotals['association']}}</span></td>
                        <td class="text-center"><span class="badge">{{result.entityTotals['other']}}</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- end of info -->
        <div class="row">
            <div class="col-12 text-center view-details">
                <button type="button" class="btn btn-link btn-sm" ng-click="hideDetails = !hideDetails">{{detailLabel}}
                    <i class="fa fa-lg" ng-class="{'fa-caret-up':hideDetails == false, 'fa-caret-down':hideDetails == true}"></i>
                </button>
            </div>
        </div>
        <search-result-details ng-if="hideDetails == false" uib-collapse="hideDetails"></search-result-details>
    </div>
    <!-- End of document template -->

    <!-- 'Record' template -->
    <div ng-if="result.isRecord">
        <div class="row">
            <!-- result title and description -->
            <div class="col-md-12" style="border-right:1px solid #CCCCCC;">
                <table width="100%">
                    <tr>
                        <td>
                            <span class="font-md" style="line-height:1.2em; font-weight: bold; text-transform: capitalize;">{{result.title}}</span>
                        </td>
                        <td class="text-right" style="vertical-align: top;">
                      <span class="label"
                            ng-class="{'label-primary label-external': result.sourceOrigin==='External',
                            'label-default label-internal': result.sourceOrigin==='Internal'}">{{result.sourceOrigin}}</span>
                        </td>
                        <td width="40" class="text-right" style="vertical-align: top;">
                            <!--<a class="btn btn-default btn-xs"><i class="fa fa-eye fs-1"></i></a>-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-right:10px; padding-bottom:5px;">
                            <!--<a ng-show="result.url" ng-href="{{result.url}}">{{result.url | domain | more:50}}</a> -->
                            <span>{{result.publishedDate | parseDate | date:'mediumDate' : 'UTC'}}</span>
                            | <span>{{result.publishedDate | parseDate | date:'hh:mm:ss a Z': 'UTC'}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-right:10px;">
                            <p ng-show="result.description">{{result.description | htmlToPlaintext | more:400}}</p>
                            <p class="text-muted" ng-show="!result.description">No description</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- End of 'Record' template -->
</div>
