<div id="content">

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-search"> </i> Search Results </h1>
        </div>
    </div>

    <!-- Content Toggle -->
    <div class="row">
        <div class="col-sm-12">

            <!-- No current search id -->
            <div id="searchNoQuery" ng-if="documents === false">
                <h1 class="font-md"> There is no active search.</h1>
            </div>

            <!-- Display current result set -->
            <div id="searchResultsContent">

                <h1 class="font-md"> Search Results for &nbsp;&quot;&nbsp;<span class="semi-bold">{{filters.searchString}}</span>&nbsp;&quot;&nbsp;</h1>

                <section id="widget-grid">

                    <div id="searchResultsWidget"
                         class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable"
                         data-widget-colorbutton="false"
                         data-widget-togglebutton="false"
                         data-widget-editbutton="false"
                         data-widget-fullscreenbutton="false"
                         data-widget-deletebutton="false" role="widget" style="">

                        <header role="heading">
                            <ul id="widget-tab-1" class="nav pull-left nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#resultDocuments" aria-expanded="false">
                                        <i class="fa fa-lg fa-file-text-o"></i>
                                        <span class="hidden-mobile hidden-tablet">Documents
                                            <span class="badge bg-color-blue txt-color-white">{{docsVisible}} / {{docsTotal}}</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tab-content">
                                <div class="tab-pane active" id="resultDocuments">
                                    <div class="widget-body-toolbar">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <search-sort></search-sort>
                                            </div>
                                            <div class="col-md-6">

                                                <span class="onoffswitch-title"><strong>Internal Sources</strong></span>
                                                  <span class="onoffswitch">
                                                    <input type="checkbox" name="internalSwitch" class="onoffswitch-checkbox"
                                                           id="internal-onoffswitch" ng-model="toggles.internalSwitch">
                                                      <label class="onoffswitch-label" for="internal-onoffswitch">
                                                        <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                      </label>
                                                  </span>
                                                  <span class="onoffswitch-title" style="margin-left: 10px;"><strong>External Sources</strong></span>
                                                  <span class="onoffswitch">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                                           id="external-onoffswitch" ng-model="toggles.externalSwitch">
                                                      <label class="onoffswitch-label" for="external-onoffswitch">
                                                        <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                      </label>
                                                  </span>

                                            </div>
                                            <div class="col-md-3 btn-group">
                                                <button type="button" class="btn btn-primary pull-right"
                                                        ng-class="{active:hideFilters == false}"
                                                        ng-click="hideFilters = !hideFilters">
                                                    Filter Results &nbsp;&nbsp;
                                                    <i class="fa fa-lg" ng-class="{'fa-caret-up':hideFilters == false, 'fa-caret-down':hideFilters == true}"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <form role="form" ng-submit="updateSearch()" novalidate>
                                        <search-filters filters="filters" class="search-results-filter" uib-collapse="hideFilters"></search-filters>
                                    </form>
                                    <search-result ng-repeat="result in results | orderBy:orderExpr"></search-result>
                                    <!-- No datagroups in current project -->
                                    <div ng-if="noDataGroups" class="text-center text-danger" style="padding: 10px 10px 10px;">
                                      <p>Your workspace does not have access to any data. Please contact your administrator for assistance.</p>
                                    </div>
                                    <div ng-if="!noDataGroups && docsTotal < 1 && !isSearching" class="text-center text-danger" style="padding: 10px 10px 10px;">
                                      <p>There are no documents that match this search.</p>
                                    </div>
                                    <!-- Search is preparing -->
                                    <div ng-if="isSearching == true">
                                        <h1 class="font-md"> loading more results...</h1>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->
                        
                    </div>
                    <!-- end widget div -->
                    
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- end row -->
</div>