<div class="modal-header">
    <h3 class="modal-title">Document Metadata</h3>
</div>
<div class="modal-body">
    <div json-human="metadata"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>