<div id="search-bar" >

    <!-- search form -->
    <form role="form" ng-submit="doSearch()" novalidate>

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-left" data-search-mobile>
            <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- input: search field -->
        <div id="header-search-input" class="input-group pull-left">

            <!-- Single button using append-to-body -->
            <!-- Single button -->
            <div uib-dropdown class="searchTypeSelection btn-group input-group-addon">
                <button type="button" class="btn btn-primary dropdown-toggle text-left" uib-dropdown-toggle>
                    {{searchTypeLabel}} <span class="text-right caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu">
                    <li ng-repeat="(searchType, searchTypeLabel) in searchTypes">
                        <a ng-click="selectSearchType(searchType)">{{searchTypeLabel}}</a>
                    </li>
                </ul>
            </div>


            <!-- search bar input -->
            <input ng-model="filters.searchString" type="text" class="form-control" name="param" placeholder="Search by Keyword">

            <!-- search options & search action -->
            <div class="searchActions input-group-btn">
                <label class="btn" ng-click="toggleFiltersDropDown($event)" ng-if="searchType == 'docs'">
                    <i class="fa fa-caret-down"></i>
                </label>
                <label class="btn" ng-click="doSearch()">
                    <i class="fa fa-search"></i>
                </label>>
            </div>

            <!-- Drop down options -->
            <div id="searchBarOptionsDropDown" uib-dropdown is-open="showFiltersDropDown" ng-click="$event.stopPropagation()" role="menu">
                <search-filters id="search-filters" uib-dropdown-menu ng-if="showFiltersDropDown" filters="filters" submit-function="doSearch"></search-filters>
            </div>

        </div>
        <!-- end input: search field -->

        <!-- advanced search -->
        <a class="btn btn-link txt-color-blueLight font-sm" ui-sref="app.search.advanced({urlWorkspaceId:workspaceId})">
            <i class="fa fa-search-plus"></i> Advanced Search</a>


    <!-- end search form -->
    </form>
</div>


