<div id="content">
    <form role="form" ng-submit="doAdvancedSearch()" novalidate>
        <!-- row -->
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-search-plus"> </i> Advanced Search</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="input-group input-group-lg">
                    <input class="form-control" type="text" placeholder="Keywords" id="advancedSearchKeywords" ng-model="filters.searchString">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-fw fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Filters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <search-filters filters="filters"></search-filters>
            </div>
        </div>
    </form>
</div>