<form class="smart-form">
  <label class="select input-sm"><i></i>
    <select ng-model="sortBy">
      <option value="recent">Most Recent</option>
      <option value="oldest">Oldest</option>
      <option value="relevance">Relevance</option>
    </select>
  </label>
</form>
