<div>

    <div class="row">
        <div class="col-md-2">
            <h4>Entities</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filters.entities.person"/>
                    People
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filters.entities.place"/>
                    Places
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filters.entities.organization"/>
                    Organizations
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filters.entities.association"/>
                    Associations
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filters.entities.other"/>
                    Other
                </label>
            </div>
        </div>
        <div class="col-md-3 first-tags">
            <h4>Tags</h4>
            <div class="form-group">
                <label>Type and enter to add tag</label>
                <ik-tags-input class="smart-form" tags-as-array="filters.tags" readonly="appScope.readOnly"
                               tags-as-string="tagsAsString" autocomplete-source="autocompleteTags">
                </ik-tags-input>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Verb Categories</h4>
            <div ng-if="verbSuggestions === true">Loading suggestions...</div>
            <div ng-if="verbSuggestions === false">No suggestions</div>
            <div ng-if="verbSuggestions === null">Could not load verb suggestions. See console for more details.</div>
            <div class="checkbox " ng-repeat="(category,verbs) in verbSuggestions">
                <label>
                    <input type="checkbox" ng-name="verbs[]" value="{{category}}"
                           ng-checked="verbIsSelected(category)"
                           ng-click="toggleVerb(category)"/>
                    {{category}}
                </label>
                <div><span ng-repeat="verb in verbs">{{verb}}<span ng-if="!$last">, </span></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Weight By</h4>
            <div>
                <div class="form-group">

                    <label>Time decay start date</label>
                    <p class="input-group">
                        <input name="weightByDate" type="text" class="form-control"
                               uib-datepicker-popup="dd-MMMM-yyyy"
                               ng-model="filters.weightBy.dateTime" is-open="datePickerOpen"
                               datepicker-options="dateOptions"
                               ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>

                </div>
            </div>
            <div>
                <label>
                    Time decay start time:
                    <uib-timepicker ng-model="filters.weightBy.dateTime" hour-step="1" minute-step="5"></uib-timepicker>
                </label>
            </div>
            <div>
                <label>
                    Half-Life:
                    <input type="text" ng-model="filters.weightBy.halfLife" />
                </label>
            </div>

        </div>
    </div>

    <div class="row search-options-footer">
        <div class="col-md-12 text-right">
            <button ng-if="submitFunction" class="btn btn-success" ng-click="runSubmitFunction()">
                <i class="fa fa-fw fa-search fa-lg"></i>
                Run Search
            </button>
            <button ng-if="!submitFunction" type="submit" class="btn btn-success">
                <i class="fa fa-fw fa-search fa-lg"></i>
                Run Search
            </button>
        </div>
    </div>
</div>