<div class="well" style="background-color: #EDEDED;">

    <div class="row" style="margin-bottom:2em;">
        <div class="col-md-4">
            <table width="100%">
                <tr>
                    <td><h6>Overall Score:</h6></td>
                    <td class="text-right">{{result.score | number: 1}}</td>
                </tr>
                <tr>
                    <td><h6>Query Relevance:</h6></td>
                    <td class="text-right">{{result.queryRelevance | number: 1}}</td>
                </tr>
                <tr>
                    <td><h6>Aggregate Significance:</h6></td>
                    <td class="text-right">{{result.aggregateSignif | number: 1}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h6>Tags</h6>
            <span ng-repeat="tag in result.tags" class="label label-info" style="margin-right:5px; display: inline-block; padding: 5px 5px 5px;">{{tag}}</span>
        </div>
        <div class="col-md-4">
            <h6>Metadata</h6>
            <button class="btn btn-default" ng-click="showMetadata()">View Metadata</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6>Entities</h6>
            <table style="background-color: #FEFEFE;" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                <tr>
                    <th width="20"></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Relevance</th>
                    <th>Significance</th>
                    <th>Sentiment</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in result.entities">
                        <td><input type="checkbox" /></td>
                        <td>{{entity.actual_name}}</td>
                        <td>{{entity.type}}</td>
                        <td>{{entity.relevance | number: 4 }}</td>
                        <td>{{entity.significance | number: 4 }}</td>
                        <td>{{entity.sentiment | number: 4 | defaultTo:"-" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6>GeoTags</h6>
            <p ng-if="!(result.docGeo)">There is no geographical information for this document</p>
            <table ng-if="result.docGeo" style="background-color: #FEFEFE;" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>TBD</td>
                    <td>{{result.docGeo.latitude}}</td>
                    <td>{{result.docGeo.longitude}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6>Associations</h6>
            <p ng-if="!(result.associations)">There are no associations for this document</p>
            <table ng-if="result.associations" style="background-color: #FEFEFE;" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                <tr>
                    <th width="20"></th>
                    <th>Subject</th>
                    <th>Verb</th>
                    <th>Verb Category</th>
                    <th>Object</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="association in result.associations">
                    <td><input type="checkbox" /></td>
                    <td>{{association.subject}}</td>
                    <td>{{association.verb}}</td>
                    <td>{{association.verb_category}}</td>
                    <td>{{association.object}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>