<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-search"> </i> Search History</h1>
        </div>
        <div class="col-sm-12">

            <div id="searchNoHistory" ng-if="searchHistoryCtrl.searches.length == 0">
                <h1 class="font-md"> There are no searches in your history.</h1>
            </div>

            <section id="widget-grid" widget-grid>
                <div data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-color="blueDark" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-history"></i> </span>
                        <h2>History</h2>
                    </header>

                    <div id="searchHistory" ng-if="searchHistoryCtrl.searches.length > 0">
                        <div class="widget-body no-padding">
                            <div class="custom-scroll table-responsive">
                                <table class="table table-striped table-bordered table-hover" width="100%" datatable-basic filter-placeholder="Filter history">
                                    <thead>
                                    <tr>
                                        <th width="200">Date</th>
                                        <th>Query</th>
                                        <th width="120">Entity Filter</th>
                                        <th width="100">
                                            <i></i> Results
                                        </th>
                                        <th width="200">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="search in searchHistoryCtrl.searches | orderBy:'-datetime'">
                                        <td>{{search.datetime | date:'yyyy/MM/dd hh:mm a'}}</td>
                                        <td>{{search.infiniteQuery.searchString}} {{search.searchString}}</td>
                                        <td>
                                            <div ng-repeat="entity in search.infiniteQuery.describeEntityFlags()">{{entity}}</div>
                                        </td>
                                        <td>{{search.stats.found}}</td>
                                        <td on-finish-render>
                                            <button class="btn btn-danger btn-sm" ng-click="searchHistoryCtrl.deleteItem(search.id)">
                                                <i class="fa fa-times-circle"></i> Delete
                                            </button>
                                            <button class="btn btn-success btn-sm" ui-sref="app.search.results({queryId:search.id,forceReload:true,curWorkspaceId:workspaceId})">
                                                <i class="fa fa-arrow-circle-right"></i> Run
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
    </div>
    <!-- end row -->
</div>