<fieldset>
    <div class="row">
        <section class="col col-5 well data-select-left">
            <h4>{{projectName}} Data Groups</h4>
            <hr class="simple">
            <label class="input"><input placeholder="Filter" type="text" ng-model="searchCurrentDataGroups"></label>
            <div class="alert alert-danger" ng-show="stepTwoValid.length == 0 && !nextStep">
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong> Add at least one Data Group.
            </div>
            <ul class="list-group memberHeight">
                <li ng-attr-collapsible="{{dataGroup.sources.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="dataGroup in dataGroups | filter: searchCurrentDataGroups | orderBy: 'name'" ng-if="!dataGroup.isPersonalCommunity && dataGroup.added">
                    <a>{{dataGroup.name}} &nbsp;</a>
                    <button class="btn btn-danger btn-sm pull-right" ng-click="dataGroup.added=false; updateDGs();"><i class="fa fa-minus"></i></button>
                    <ul class="expand-list">
                        <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="source in dataGroup.sources">
                            {{source.title}}
                            <span class="label label-success pull-right pill" ng-class="{'label-danger': source.searchCycle_secs < 0}">{{source.searchCycle_secs < 0 ? 'Suspended' : 'Published'}}</span>
                        </li>
                        <li data-smart-menu-async class="hidden" ng-if="$last"></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="col col-5 well data-select-right">
            <h4>Available Data Groups</h4>
            <hr class="simple">
            <label class="input"><input placeholder="Filter" type="text" ng-model="searchdataGroups"></label>
            <ul class="list-group memberHeight">
                <li ng-attr-collapsible="{{dataGroup.sources.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="dataGroup in dataGroups | filter: searchdataGroups | orderBy: 'name'" ng-if="!dataGroup.isPersonalCommunity && !dataGroup.added">
                    <a>{{dataGroup.name}} &nbsp;</a>
                    <button class="btn btn-success btn-sm pull-right" ng-click="dataGroup.added=true; updateDGs();"><i class="fa fa-plus"></i></button>
                    <ul class="expand-list">
                        <li data-smart-menu-async class="list-group-item clearfix" ng-repeat="source in dataGroup.sources">
                            {{source.title}}
                            <span class="label label-success pull-right pill" ng-class="{'label-danger': source.searchCycle_secs < 0}">{{source.searchCycle_secs < 0 ? 'Suspended' : 'Published'}}</span>
                        </li>
                        <li data-smart-menu-async class="hidden" ng-if="$last"></li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</fieldset>