<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-ban"> </i> No Workspace</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <p>There are no workspaces configured or you do not have access to any workspaces. Contact an administrator create a new workspace or get access to an existing workspace.</p>

        </div>
    </div>
</div>