<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget class="project project-create" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
        <h2>Edit Project: {{projectName}}</h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="javascript:void(0);" ng-click="this.$dismiss()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
        </div>
    </header>

    <!-- widget div-->
    <div>
        <!-- widget content -->
        <form class="smart-form" novalidate="novalidate" data-smart-validate-form ng-class="{'transmitting':transmitting}">
            <div class="widget-body" data-project-wizard>
                <ul class="bootstrapWizard clearfix">
                    <li data-smart-wizard-tab="1" >
                        <span class="step">1</span> <span class="title">Start</span>
                    </li>
                    <li data-smart-wizard-tab="2" >
                        <span class="step">2</span> <span class="title">Edit Data</span>
                    </li>
                    <li data-smart-wizard-tab="3">
                        <span class="step">3</span> <span class="title">Edit Users</span>
                    </li>
                    <li data-smart-wizard-tab="4">
                        <span class="step">4</span> <span class="title">Save</span>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" data-smart-wizard-pane="1" cg-busy="{promise:uniqueProjectPromise,message:'Checking the project name'}">
                      <project-name></project-name>
                    </div>
                    <div class="tab-pane" data-smart-wizard-pane="2"  >
                        <div ng-include="'app/project/views/dataGroupAdd.tpl.html'"></div>
                    </div>
                    <div class="tab-pane" data-smart-wizard-pane="3" >
                        <add-user-user-groups></add-user-user-groups>
                    </div>
                    <div class="tab-pane" data-smart-wizard-pane="4" >
                        <div ng-include="'app/project/views/projectSummary.tpl.html'"></div>
                    </div>
                </div>

                <div ng-hide="transmitting" class="form-actions">
                    <ul class="pager wizard no-margin">
                        <li class="previous" data-smart-wizard-prev><a href="#" class="btn btn-lg btn-default"> Previous </a></li>
                        <li class="next" data-smart-wizard-next><a href="#" class="btn btn-lg"> Next </a></li>
                    </ul>
                </div>
            </div>
        </form>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->
