<div class="project" id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-sliders"> </i> {{projectTitle}} Settings
                <!-- <span ng-if="showEditSettings" class="pull-right" popover-animation="true" popover-trigger="mouseenter" popover-placement="left"  popover="{{helpPopoverTxt}}">
                    <i class="fa-fw fa fa-question-circle"> </i>
                </span> -->
            </h1>
            <hr class="simple"/>
        </div>
        <div ng-if="!currentProject.isManaged" class="col-xs-6 col-sm-5 col-md-5 col-lg-4 text-right header-button">
            <button ng-show="showEditSettings" ng-disabled="!showEditSettings" ng-class="{'disabled': !showEditSettings, 'btn-secondary': !showEditSettings}" class="btn btn-primary pull-right" ng-click="editProjectSettings();"><i class="fa-fw fa fa-edit"> </i> Edit Settings</button>
            <span ng-if="!showEditSettings" class="admin-msg" popover-animation="true" popover-trigger="mouseenter" popover-placement="left" uib-popover="{{helpPopoverTxt}}">
              <i class="fa fa-question-circle fa-lg"> </i>
            </span>
        </div>
    </div>
    
    <div ng-if="!currentProject.isManaged" class="row">
        <div class="col-xs-12 page-title">
            <span class="text-left">
                <i class="fa fa-calendar"> </i>  {{projCreationDate}} | 
                <i class="fa fa-clock-o"> </i>  {{projCreationTime}} | 
                <i class="fa fa-user"> </i>  {{projectDataGroup.ownerDisplayName}}
            </span>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <div class="row">
            <article class="col-sm-12 col-md-6 col-lg-6">
                <div ng-if="projectDesc" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-color="blueDark" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
                    <!-- widget options:
                    usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                -->
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa-fw fa fa-info-circle"></i> </span>
                        <h2>Description</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body widget-height">
                            {{projectDesc}}
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

                <div data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-color="blueDark" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa-fw fa fa-th-large"></i> </span>
                        <h2>Data Groups</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body widget-height" ng-show="dataGroups.length < 1">
                          <span>You have not been added to any Data Groups.</span>
                        </div>
                        <div class="widget-body no-padding" ng-show="dataGroups.length > 0">
                            <div class="well">
                                <ul class="list-group memberHeight">
                                    <li ng-attr-collapsible="{{dataGroup.sources.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="dataGroup in dataGroups | filter: searchCurrentDataGroups | orderBy: 'name'">
                                        <a>{{dataGroup.name}} &nbsp;</a>
                                        <ul class="expand-list">
                                            <li class="list-group-item clearfix" ng-repeat="source in dataGroup.sources">
                                                {{source.title}}
                                                <span class="label label-success pull-right" ng-class="{'label-danger': source.searchCycle_secs < 0}">{{source.searchCycle_secs < 0 ? 'Suspended' : 'Published'}}</span>
                                            </li>
                                            <li data-smart-menu-async class="hidden"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>

            <article ng-if="!currentProject.isManaged" class="col-sm-12 col-md-6 col-lg-6">
                <div data-widget-colorbutton="false" data-widget-editbutton="false" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading" class="bluedark-header">
                        <span class="widget-icon"> <i class="fa-fw fa fa-group"></i> </span>
                        <h2>Users &amp; User Groups</h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
                    <!-- widget div-->
                    <div role="content">
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                          <div class="well">
                            <uib-tabset>
                              <!-- All Tab -->
                              <uib-tab>
                                <uib-tab-heading>
                                  All <span class="badge bg-color-blue">{{userCounts.user.length + userCounts.group.length + 1}}</span>
                                </uib-tab-heading>
                                <ul class="list-group memberHeight">
                                  <li class="list-group-item clearfix"><strong>Owner: {{projectDataGroup.ownerDisplayName}}</strong></li>
                                  <li ng-attr-collapsible="{{aUser.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="aUser in allUsers | filter: searchAllCurrentUsers | orderBy: 'displayName'" ng-if="aUser.displayName != projectDataGroup.ownerDisplayName && aUser.name != projectDataGroup.ownerDisplayName">
                                    <a>
                                        <i ng-if="aUser.type === 'user_group'" class="fa fa-group"></i>
                                        {{aUser.displayName}} &nbsp;
                                        <i ng-if="aUser.type === 'user_group' && aUser.members.length === 0" class="fa fa-lock"></i>
                                    </a>
                                    <ul class="expand-list">
                                        <li class="list-group-item clearfix" ng-repeat="groupMember in aUser.members">{{groupMember.displayName}}</li>
                                        <li data-smart-menu-async class="hidden" ng-if="$last"></li>
                                    </ul>
                                  </li>
                                </ul>
                              </uib-tab>
                              <!-- Users Tab -->
                              <uib-tab>
                                <uib-tab-heading>
                                  Users <span class="badge bg-color-blue">{{userCounts.user.length + 1}}</span>
                                </uib-tab-heading>
                                <ul class="list-group memberHeight">
                                  <li class="list-group-item clearfix"><strong>Owner: {{projectDataGroup.ownerDisplayName}}</strong></li>
                                  <li class="list-group-item clearfix" ng-repeat="user in userCounts.user | filter: searchCurrentUsers | orderBy: 'displayName'">
                                    {{user.displayName}}
                                  </li>
                                </ul>
                              </uib-tab>
                              <!-- User Groups Tab -->
                              <uib-tab>
                                <uib-tab-heading>
                                  User Groups <span class="badge bg-color-blue">{{userCounts.group.length}}</span>
                                </uib-tab-heading>
                                <ul class="list-group memberHeight">
                                  <li ng-attr-collapsible="{{userGroup.members.length > 0 || undefined}}" class="list-group-item clearfix" ng-repeat="userGroup in userCounts.group | filter: searchCurrentUserGroups | orderBy: 'displayName'">
                                    <a>
                                        <i class="fa fa-group"></i>
                                        {{userGroup.displayName}} &nbsp;
                                        <i ng-if="userGroup.type === 'user_group' && userGroup.members.length === 0" class="fa fa-lock"></i>
                                    </a>
                                    <ul class="expand-list">
                                        <li class="list-group-item clearfix" ng-repeat="groupMember in userGroup.members">{{groupMember.displayName}}</li>
                                        <li data-smart-menu-async class="hidden" ng-if="$last"></li>
                                    </ul>
                                  </li>
                                </ul>
                              </uib-tab>
                            </uib-tabset>
                          </div>

                            <!-- end widget body text-->
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->