<fieldset>
    <section>
        <div class="inline-group">
            <h4 class="pull-left margin-r-15">{{projectName}} </h4>
            <h4><i data-smart-edit-btn="1" class="fa fa-edit"></i></h4>
        </div>
    </section>
</fieldset>
<fieldset>
    <div class="row">
    <section class="col col-5 well data-select-left">
        <h4>Data Groups <i data-smart-edit-btn="2" class="fa fa-edit"></i></h4>
        <hr class="simple">
        <label class="input"><input placeholder="Filter" type="text" ng-model="searchCurrentDataGroups"></label>
        <ul class="list-group memberHeight">
            <li class="list-group-item clearfix" ng-repeat="dataGroup in dataGroups | filter: searchCurrentDataGroups" ng-show="dataGroup.added && !dataGroup.isPersonalCommunity">
                {{dataGroup.name}}
            </li>
        </ul>
    </section>
    <section class="col col-5 well data-select-right">
        <h4>Users & User Groups <i data-smart-edit-btn="3" class="fa fa-edit"></i></h4>
        <hr class="simple">
        <label class="input pad-left-1"><input placeholder="Filter" type="text" ng-model="searchAllCurrentUsers"></label>
        <ul class="list-group memberHeight pad-left-1">
            <li class="list-group-item clearfix"><strong>Owner: {{ownerDisplayName}}</strong></li>
            <li class="list-group-item clearfix" ng-repeat="user in allUsers | filter: searchAllCurrentUsers" ng-show="user.addedToUsers">
                {{user.displayName}}{{user.name}}
            </li>
        </ul>
    </section>
    </div>
</fieldset>