<header id="header"  class="animated fadeInDown" style="background-image: none; background-color: white; padding-top: 0px; margin-top: 0px; height: 55px;" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo-ikanow.png" alt="IKANOW"> </span>
    </div>

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
           ui-sref="register" class="btn btn-danger">Create account</a> </span>
    <span id="extr-page-header-space"><a class="btn btn-danger" ng-click="logout()">Logout</a> </span> -->

</header>
<div id="main" role="main"  class="animated fadeInDown loginScreen" style="margin-left:0px;" >

    <div id="content" class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <h1 class="login-header-big text-center">Information Security Analytics</h1>
                <div class="well no-padding" cg-busy="{promise:loadingPromise,message:loadingMessage}">
                    <form name="forgot-password-form" class="smart-form client-form" data-smart-validate-form>
                        <header>
                            Forgot Password
                        </header>
                        <fieldset ng-if="!formSubmitted">
                            <label class="label">Enter the email address associated with your ISA account. A link will be sent allowing you to reset your password. If you do not have access to that email account, please contact your administrator.</label>
                            <br />
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email" ng-model="$parent.email"
                                           data-smart-validate-input
                                           required
                                           email>
                                    </input>
                                </label>
                            </section>
                        </fieldset>
                        <fieldset ng-if="formSubmitted && !forgotErrorMessage">
                          <label class="label">Please check your email to reset your password.</label>
                          <label class="label">Thank you.</label>
                          <br />
                        </fieldset>
                        <fieldset ng-if="formSubmitted && forgotErrorMessage">
                          <div class="alert alert-danger">{{forgotErrorMessage}}</div>
                        </fieldset>
                        <script type="text/ng-template" id="passwordTooltip.html">
                          <span><i class="fa fa-lock txt-color-teal"></i> Enter your password</span>
                        </script>
                        <footer>
                          <button type="submit" class="btn btn-success" ng-if="!formSubmitted" ng-click="submitForgotPassword()">
                              Send
                          </button>
                          <button type="submit" class="btn btn-secondary" ng-if="!formSubmitted" ui-sref="login">
                              Cancel
                          </button>
                          <button type="submit" class="btn btn-success" ng-if="formSubmitted" ui-sref="login">
                              Close
                          </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>