<header id="header"  class="animated fadeInDown" style="background-image: none; background-color: white; padding-top: 0px; margin-top: 0px; height: 55px;" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo-ikanow.png" alt="IKANOW"> </span>
    </div>

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
           ui-sref="register" class="btn btn-danger">Create account</a> </span>
    <span id="extr-page-header-space"><a class="btn btn-danger" ng-click="logout()">Logout</a> </span> -->

</header>
<div id="main" role="main"  class="animated fadeInDown loginScreen" style="margin-left:0px;" >

    <div id="content" class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <h1 class="login-header-big text-center">Information Security Analytics</h1>
                <div class="well no-padding" cg-busy="{promise:loadingPromise,message:loadingMessage}">
                    <form id="login-form" class="smart-form client-form" data-smart-validate-form>
                        <header>
                            Log In
                        </header>
                        <fieldset>
                            <div ng-if="autologout" class="alert alert-warning text-center">Your session has expired.  Please sign in again.</div>
                            <div ng-if="loginErrorMessage" class="alert alert-danger text-center">{{loginErrorMessage}}</div>
                            <div ng-if="loginMessage" class="alert alert-success text-center">{{loginMessage}}</div>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email" ng-model="user.username"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address">

                                    </input>
                                </label>
                            </section>

                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="loginPassword" ng-model="user.password"
                                          data-smart-validate-input
                                          required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Please enter your email password">
                                    </input>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a class="forgot-password-link" data-ui-sref="forgotpassword">Forgot password?</a>                            
                            <button type="submit" class="btn btn-primary" ng-click="submitLoginForm()">
                                Log in
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>