<header id="header"  class="animated fadeInDown" style="background-image: none; background-color: white; padding-top: 0px; margin-top: 0px; height: 55px;" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo-ikanow.png" alt="IKANOW"> </span>
    </div>

    <!-- <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a
           ui-sref="register" class="btn btn-danger">Create account</a> </span>
    <span id="extr-page-header-space"><a class="btn btn-danger" ng-click="logout()">Logout</a> </span> -->

</header>
<div id="main" role="main"  class="animated fadeInDown loginScreen" style="margin-left:0px;" >

    <div id="content" class="container">
        <div class="row">

            <div class="col-md-4 col-md-offset-4">
                <h1 class="login-header-big text-center">Information Security Analytics</h1>
                <div class="well no-padding" cg-busy="{promise:loadingPromise,message:loadingMessage}">
                    <form name="reset-password-form" class="smart-form client-form" data-smart-validate-form>
                        <header>
                            Reset Password
                        </header>
                        <fieldset ng-if="!resetErrorMessage">
                            <label class="label">You have clicked on a link to reset your password. Please enter your new password below.  If you do not wish to reset your paswsord, please click cancel.</label>
                            <br />
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password" id="password" ng-model="$parent.password"
                                          data-smart-validate-input
                                          required
                                          popover-animation="true" popover-trigger="focus" popover-placement="top" uib-popover-html="passwordPopover">
                                    </input>
                                </label>
                            </section>
                            <section>
                                <label class="label">Re-enter New Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="passwordConfirm"
                                          data-smart-validate-input
                                          required>
                                    </input>
                                </label>
                            </section>
                        </fieldset>
                        <fieldset ng-if="resetErrorMessage">
                          <div class="alert alert-danger">{{resetErrorMessage}}</div>
                        </fieldset>
                        <script type="text/ng-template" id="passwordTooltip.html">
                          <span><i class="fa fa-lock txt-color-teal"></i> Enter your password</span>
                        </script>
                        <footer>
                          <button type="submit" ng-if="!resetErrorMessage" class="btn btn-success" ng-click="submitResetPassword()">
                              Reset Password
                          </button>
                          <button type="submit" class="btn" ng-class="resetErrorMessage ? 'btn-primary' : 'btn-secondary'" ui-sref="login">
                              {{resetErrorMessage ? 'Close' : 'Cancel'}}
                          </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>