<!-- MAIN CONTENT -->
<div class="datagroup" id="content">

	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-gear"> </i> Manage {{title}}s</h1>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-5 col-lg-8 text-right header-button">
            <button ng-if="isAdmin" class="btn btn-primary btn-sm" ng-click="showAddDataGroup($event)">
                <i class="fa fa-plus-circle"></i> <span class="hidden-mobile">Add New {{title}}</span>
            </button>
            <span ng-if="!isAdmin" class="admin-msg" popover-animation="true" popover-trigger="mouseenter" popover-placement="left" uib-popover="{{popoverText}}">
              <i class="fa fa-question-circle fa-lg"> </i>
            </span>
        </div>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" widget-grid>

    <div data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-color="blueDark" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
        <!-- widget options:
            usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"
        -->
        <header>
            <span class="widget-icon"> <i class="fa" ng-class="{'fa-group' : !groupicon, 'fa-th-large' : groupicon}"></i> </span>
            <h2>{{title}}s</h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
                <div class="table-responsive" ik-data-table="groupList" table-columns="filters" table-options="tableOptions" ng-class="{'transmitting':transmitting}" cg-busy="{promise:loadingPromise,message:loadingMessage}"></div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget div -->
    </div>
    <!-- end widget -->

	</section>
	<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

