<div data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-color="darken" data-jarvis-widget data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" role="widget" id="manager-modal">
  <header>
    <span class="widget-icon"> <i class="fa fa-gear"></i> </span>
    <h2>Admin</h2>
    <div class="jarviswidget-ctrls" role="menu">
      <a href="javascript:void(0);" ng-click="closeManager()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
    </div>
  </header>
  <ul class="nav nav-tabs in">
    <li ng-class="{'active': activeTab == 'Manage Users'}" ng-click="activeTab = 'Manage Users'">
      <a data-ui-sref="app.manager.modal.manageUsers({editProfile: false})">Users</a>
    </li>
    <li ng-class="{'active': activeTab == 'User Group'}" ng-click="activeTab = 'User Group'">
      <a data-ui-sref="app.manager.modal.manageUserGroups">User Groups</a>
    </li>
    <li ng-class="{'active': activeTab == 'Source List'}" ng-click="activeTab = 'Source List'">
      <a data-ui-sref="app.manager.modal.sourceList">Data Sources</a>
    </li>
    <li ng-class="{'active': activeTab == 'Data Group'}" ng-click="activeTab = 'Data Group'">
      <a data-ui-sref="app.manager.modal.manageDataGroups">Data Groups</a>
    </li>
  </ul>

  <div class="tab-content manager-modal">
    <div data-ui-view="managerView"></div>
  </div>
</div>