<div id="content">
				<div class="row">
					<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
			            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-file-text-o"> </i> Project Reports</h1>
			        </div>
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<img src="styles/img/demo/basic.png" alt="Basic Email Template" style="width:100%; height:auto;">
						<br>
						<br>
						<a href="#" target="_blank" class="btn btn-primary btn-block">Report Template</a>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<img src="styles/img/demo/newsletter.png" alt="Newsletter Email Template" style="width:100%; height:auto;">
						<br>
						<br>
						<a href="#" target="_blank" class="btn btn-primary btn-block">Report Template</a>
					</div>
									
				</div>
				<!-- end row -->
			</div>