<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-search"> </i> Search Results</h1>
        </div>
        <div class="col-sm-12">

            <ul id="searchResultsTab" class="nav nav-tabs bordered">
                <li ng-repeat="search in searches" ng-class="{'active':isCurrentTab({{search}})}">
                    <a href="#s{{search.id}}" data-toggle="tab" ng-click="setCurrentTab(search)">{{search.term}}</a>
                </li>
                <li class="pull-right hidden-mobile">
                    <a href-void> <span class="note">About {{currentTab.resultCount}} results ({{currentTab.responseTime}} seconds) </span> </a>
                </li>
            </ul>

            <div id="searchResultsTabContents" class="tab-content bg-color-white padding-10">
                <div id="searchResultsTabContent">
                    <h1 class="font-md"> Search Results for <span class="semi-bold">{{currentTab.term}}</span>
                        <small class="text-danger"> &#xA0;&#xA0;({{currentTab.resultCount}} results)</small>
                    </h1>

                    <div class="search-results clearfix" ng-repeat="result in currentTab.results">
                        <h4><a href-void>{{result.title}}</a></h4>
                        <p class="description">{{result.description}}</p>
                    </div>

                    <!--<div class="text-center">-->
                        <!--<hr>-->
                        <!--<ul class="pagination no-margin">-->
                            <!--<li class="prev disabled">-->
                                <!--<a href-void>Previous</a>-->
                            <!--</li>-->
                            <!--<li class="active">-->
                                <!--<a href-void>1</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href-void>2</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href-void>3</a>-->
                            <!--</li>-->
                            <!--<li class="next">-->
                                <!--<a href-void>Next</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<br>-->
                        <!--<br>-->
                        <!--<br>-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->
</div>