<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-sb-id-0" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
    <h2>Source Viewer </h2>
    <div class="jarviswidget-ctrls" role="menu">
        <a href="javascript:void(0);" ng-click="this.$dismiss()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
    </div>
  </header>

  <!-- widget div-->
  <div>
    <!-- widget content -->
    <form name="sourceform" class="smart-form" novalidate="novalidate" data-smart-validate-form>
      <div class="widget-body" data-source-wizard>

        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Source Title</label>
              <label class="input state-disabled"><i class="icon-prepend fa fa-database"></i>
                <input type="text" name="title" placeholder="{{source.title}}" ng-model="source.title" ng-disabled="true">
              </label>
            </section>
            <section class="col col-6">
              <label class="label">Data Group</label>
              <label class="input state-disabled">
                <input type="text" ng-model="dataGroupChosen.name" ng-disabled="true">
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-6">
              <label class="label">Tags</label>
              <ik-tags-input tags-as-array="source.tags" readonly="true">
              </ik-tags-input>
            </section>
            <section class="col col-6">
              <label class="label">Type</label>
              <label class="input state-disabled">
                <input type="text" ng-model="dataType" ng-disabled="true">
              </label>
            </section>
            <section class="col col-6 hidden">
              <label class="label">Media Type</label>
              <label class="input state-disabled">
                <input type="text" ng-model="source.mediaType" ng-disabled="true">
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-6">
              <label class="label">Description</label>
              <label class="textarea state-disabled">
                <textarea name="description" placeholder="{{source.description || 'Describe this ' + title }}" ng-model="source.description" rows="3" ng-disabled="true"></textarea>
              </label>
            </section>
            <section class="col col-6">
                <label class="label">Data Origin</label>
                <label class="input state-disabled">
                    <input type="text" ng-model="dataOrigin" ng-disabled="true">
                </label>
            </section>
          </div>
        </fieldset>

        <fieldset class="no-border" autocomplete="off">
          <div class="row">
            <section class="col col-4">
              <button class="btn btn-xs" ng-click="JSONFullTab()" ng-class="!viewingLsTab ? 'btn-primary' : 'btn-secondary'">JSON</button>
              <button class="btn btn-xs" ng-click="JSONLsTab()" ng-show="checkForLogstash()" ng-class="viewingLsTab ? 'btn-primary' : 'btn-secondary'">{{checkForLogstash(true) ? 'LS' : 'JS'}}</button>
            </section>
          </div>
          <section>
            <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="JSONValue" ng-init="editorOptions.readOnly = true" ui-refresh=" sourceType === 'Advanced Source Builder' "></div>
          </section>
        </fieldset>

        <div class="form-actions">
          <ul class="pager wizard no-margin">
            <li class="next"><a class="btn btn-success btn-lg publishBtn" ng-click="closeResults()">Close</a></li>
            <li class="next" ng-if="authToEdit"><span class="publishBtn">OR</span></li>
            <li class="next" ng-if="authToEdit" ng-click="closeResults('edit');"><a class="btn btn-lg"> Edit Source </a></li>
          </ul>
        </div>

      </div>
    </form>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</div>
<!-- end widget -->
