<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-sb-id-0" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
        <h2>Source Editor </h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="javascript:void(0);" ng-click="this.$dismiss()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
        </div>
    </header>

    <!-- widget div-->
    <div cg-busy="{promise:testingPromise,message:testingMessage}">
        <!-- widget content -->
        <form name="sourceform" class="smart-form" novalidate="novalidate" data-smart-validate-form ng-class="{'transmitting':transmitting}">
        <div class="widget-body" data-source-wizard>

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Source Title</label>
                            <label class="input" ng-class="{'state-disabled': transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0)) }"> <i class="icon-prepend fa fa-database"></i>
                                <input type="text" required name="title" placeholder="{{source.title}}" ng-model="source.title" ng-disabled="transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0))" ng-change="setValues();">
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Data Group</label>
                            <label class="select" ng-class="{'state-disabled': transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0))}"> <i class="icon-append fa fa-bookmark"></i>
                                <select required ng-model="dataGroupChosen" ng-options="dg.name for dg in dataGroups" ng-disabled="transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0))" ng-change="setValues()"></select>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            {{source.tags}}
                            <label class="label">Tags</label>
                          <ik-tags-input tags-as-array="source.tags" readonly="false">
                          </ik-tags-input>
                        </section>
                        <section class="col col-6">
                            <label class="label">Type</label>
                            <label class="select" ng-class="{'state-disabled': transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0)) }"> <i class="icon-append fa fa-user"></i>
                                <select required id="dataType" name="dataType" ng-model="dataType" ng-change="setValues()">
                                    <option value="" selected>Choose source type</option>
                                    <option value="asset-database">Asset Database</option>
                                    <option value="firewall">Firewall</option>
                                    <option value="ldap">LDAP</option>
                                    <option value="network-scan">Network Scan</option>
                                    <option value="proxy">Proxy</option>
                                    <option value="test">Test</option>
                                    <option value="threat-intel">Threat Intelligence</option>
                                    <option ng-if="isAdmin" value="auxiliary">Auxiliary</option>
                                </select>
                            </label>
                        </section>
                        <section class="col col-6 hidden">
                            <label class="label">Media Type</label>
                            <label class="select" ng-class="{'state-disabled': transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0)) }"> <i class="icon-append fa fa-user"></i>
                                <select id="shareMediaType" name="shareMediaType" ng-model="shareMediaType" ng-change="setValues()">
                                    <option value="news">News</option>
                                    <option value="social">Social</option>
                                    <option value="report">Report</option>
                                    <option value="record">Record</option>
                                    <option value="blog">Blog</option>
                                    <option value="intel">Intel</option>
                                    <option value="discussion">Discussion</option>
                                    <option value="video">Video</option>
                                    <option value="imagery">Imagery</option>
                                    <option selected="selected">Custom (enter into JSON below)</option>
                                </select>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-6">
                            <label class="label">Description</label>
                            <label class="textarea" ng-class="{'state-disabled': transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0)) }">
                                <textarea name="description" placeholder="{{source.description || 'Describe this ' + title }}" ng-model="source.description" rows="3" ng-disabled="transmitting || (!activeSource.share && !(activeSource.searchCycle_secs < 0))" ng-change="setValues()"></textarea>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="label">Data Origin</label>
                            <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                <select required id="dataOrigin" name="dataOrigin" ng-model="dataOrigin" ng-change="setValues()">
                                    <option value="" selected>Choose data origin</option>
                                    <option value="external">External</option>
                                    <option value="internal">Internal</option>
                                </select>
                            </label>
                        </section>
                    </div>
                </fieldset>

                <fieldset class="no-border" autocomplete="off">
                    <div class="row">
                        <section class="col col-4">
                            <button class="btn btn-xs" ng-click="JSONFullTab()" ng-class="!viewingLsTab ? 'btn-primary' : 'btn-secondary'">JSON</button>
                            <button class="btn btn-xs" ng-click="JSONLsTab()" ng-show="checkForLogstash()" ng-class="viewingLsTab ? 'btn-primary' : 'btn-secondary'">{{checkForLogstash(true) ? 'LS' : 'JS'}}</button>
                        </section>
                        <section class="col col-8 text-right">
                            <button class="btn btn-secondary btn-xs" ng-click="validateJSON()"><i class="fa fa-check"></i> Validate</button>
                            <button class="btn btn-secondary btn-xs" ng-click="scrubJSON()"><i class="fa fa-eraser"></i> Scrub</button>
                            <button class="btn btn-secondary btn-xs" ng-click="revert(); JSONRevertSuccess=true"><i class="fa fa-undo"></i> Revert</button>
                        </section>
                    </div>
                    <section>
                        <div ng-if="JSONErrors" class="alert alert-danger fade in">
                            <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                            <h3>Your code has errors, see below:</h3>
                            <div ng-repeat="error in JSONErrors"><strong>Error (line: {{error.line}} [{{error.character}}])</strong>: {{error.reason}}</div>
                        </div>
                        <div ng-if="!JSONErrors && JSONSuccess" class="alert alert-success fade in">
                            <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                            <div>JSON Looks good!</div>
                            <div ng-show="scrubText">{{scrubText}}</div>
                        </div>
                        <div ng-if="!JSONErrors && scrubText" class="alert alert-success fade in">
                            <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                            <div>{{scrubText}}</div>
                        </div>
                        <div ng-if="!JSONErrors && JSONRevertSuccess" class="alert alert-success fade in">
                            <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                            <div>Reverted to original state.</div>
                        </div>
                        <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="JSONValue" ui-refresh=" sourceType === 'Advanced Source Builder' "></div>
                        <footer ng-show="!transmitting" ng-if="activeSource.share || (activeSource.searchCycle_secs < 0)">
                            <label class="label col col-1">Test:</label>
                            <section class="col col-3">
                                <label class="select">
                                    <select ng-model="documents.chosen" ng-options="doc for doc in documents.choices"></select> <i></i>
                                </label>
                            </section>
                            <section class="col col-5">
                                <div class="inline-group" style="padding-top:4px;">
                                    <label class="checkbox" ng-class="{'state-disabled': transmitting }">
                                        <input type="checkbox" name="checkbox-inline" ng-model="source.fullText" ng-disabled="transmitting">
                                        <i></i>Full Text</label>
                                    <label class="checkbox" ng-class="{'state-disabled': transmitting }">
                                        <input type="checkbox" name="checkbox-inline" ng-model="source.testUpdates" ng-disabled="transmitting">
                                        <i></i>Update Test Mode</label>
                                </div>
                            </section>
                            <button class="btn btn-primary btn-sm" ng-click="testSource(true)"><i class="fa fa-check-square"></i> Test Source</button>
                        </footer>
                        <footer class="publish-footer" ng-if="isAdmin" ng-show="!transmitting" ng-if="activeSource.share || (activeSource.searchCycle_secs < 0)">
                          <label class="label col col-1">Publish:</label>
                          <section class="col col-5">
                            <div class="inline-group" style="padding-top:4px;">
                              <label class="checkbox" ng-class="{'state-disabled': transmitting }">
                                <input type="checkbox" name="checkbox-inline" ng-model="source.deleteDocs" ng-disabled="transmitting">
                                <i></i>Delete all existing docs</label>
                            </div>
                          </section>
                        </footer>
                    </section>
                </fieldset>

                <div ng-hide="transmitting" class="form-actions">
                    <ul ng-if="activeSource.share || (activeSource.searchCycle_secs < 0)" class="pager wizard no-margin">
                        <li class="next"><a class="btn btn-success btn-lg publishBtn" ng-disabled="!testResultError.response.success || JSONErrors" ng-click="publishSource(true)"><i class="fa fa-sign-in"></i> Publish Source </a></li>
                        <li class="next"><span class="publishBtn">OR</span></li>
                        <li class="next" ng-click="saveSource(true);"><a class="btn btn-lg"> Save Source </a></li>
                    </ul>
                    <ul ng-if="!activeSource.share && !(activeSource.searchCycle_secs < 0)" class="pager wizard no-margin">
                        <li class="next"><a class="btn btn-success btn-lg publishBtn" ng-click="closeResults()">Close</a></li>
                  </ul>
                </div>

        </div>
        </form>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
