<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-sb-id-0" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

    <header>
        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
        <h2>Source Builder </h2>
        <div class="jarviswidget-ctrls" role="menu">
            <a href="javascript:void(0);" ng-click="this.$dismiss()" class="button-icon" rel="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a>
        </div>
    </header>

    <!-- widget div-->
    <div cg-busy="{promise:testingPromise,message:testingMessage}">
        <!-- widget content -->
        <form name="sourceform" class="smart-form" novalidate="novalidate" data-smart-validate-form ng-class="{'transmitting':transmitting}">
        <div class="widget-body" data-source-wizard>

                <ul class="bootstrapWizard clearfix wizard-li-3">
                    <li data-smart-wizard-tab="1" >
                        <span class="step">1</span> <span class="title">Start</span>
                    </li>
                    <li data-smart-wizard-tab="2" >
                        <span class="step">2</span> <span class="title">Configure</span>
                    </li>
                    <li data-smart-wizard-tab="3">
                        <span class="step">3</span> <span class="title">Save</span>
                    </li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane" data-smart-wizard-pane="1" >
                        <fieldset>
                            <div class="row">
                                <span class="col col-3"></span>
                                <section class="col col-6">
                                    <label class="label text-center"><h4>What kind of source would you like to create?</h4></label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select required ng-model="sourceType" ng-options="sourceBuilderType for sourceBuilderType in sourceBuilderTypeOptions" ng-disabled="transmitting" ng-change="chooseTemplate()">
                                            <option value="">Choose your source type</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" data-smart-wizard-pane="2">
                        <div class="row" ng-if=" sourceType != 'Advanced Source Builder' ">
                            <div class="col col-3">
                            <header>Instructions</header>
                             <fieldset>
                                <section>
                                    <ul class="list-unstyled list-spacing">
                                        <li ng-repeat="helper in mock.meta.helperText">{{helper}}</li>
                                    </ul>
                                </section>
                            </fieldset>
                            </div>

                            <div class="col col-9">
                                <header class="well transparent">{{mock.meta.title}}</header>
                                <div class="well">
                                    <fieldset>
                                        <section ng-repeat="input in mock.userInputs | orderBy:'order'" ng-if="!input.advanced" class="col" ng-class="input.column ? 'col-6' : 'col-md-12'">
                                            <label ng-hide="input.hide" class="label">{{input.title}}</label>
                                            <div class="row" ng-if="input.multiple">
                                                <div ng-repeat="val in input.values track by $index">
                                                    <section class="col col-10">
                                                        <label class="input">
                                                            <input ng-if="input.type === 'input[text]'" name="multi" ng-required="input.required" placeholder="{{input.description}}" type="text" ng-model="val.value">
                                                            <input ng-if="input.type === 'input[url]'" type="url" name="multi" ng-required="input.required" placeholder="{{input.description}}" ng-model="val.value">
                                                        </label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <button type="button" formnovalidate class="cancel btn btn-danger btn-sm" ng-click="deleteValue()" ng-hide="$first && $last"><i class="fa fa-minus"></i></button>
                                                        <button type="button" formnovalidate class="cancel btn btn-success btn-sm" ng-click="addNewValue()" ng-show="$last"><i class="fa fa-plus"></i></button>
                                                    </section>
                                                </div>
                                            </div>
                                            <div ng-if="!input.multiple" ng-switch="input.type">
                                                <div ng-switch-when="input[file]" class="row">
                                                    <section class="col col-10">
                                                        <label for="file" class="input input-file">
                                                            <div class="button">
                                                                <input type="file" name="file" file-input="files" multiple><i class="fa fa-upload"></i>
                                                            </div>
                                                            <input ng-model="filename" placeholder="{{files[0].name || input.description}}" name="filename" ng-required="input.required" type="text" readonly>
                                                            <input type="text" ng-model="input.value" class="hidden" />
                                                            <p ng-show="uploadedFile" class="alert-success padding-10">Success! Your "{{uploadedFile.title}}" file with share ID is: {{uploadedFile._id}}</p>
                                                        </label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <button ng-show="!uploadedFile" ng-click="uploadFile(); filename=files[0].name;" formnovalidate class="cancel btn btn-success btn-sm">Upload</button>
                                                    </section>
                                                </div>
                                                <label ng-switch-when="input[date]" class="input">
                                                    <input readonly ng-click="openDatePicker($event)" type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="inputDate" is-open="datePicker.isOpen" datepicker-options="dateOptions" name="date" ng-required="input.required" close-text="Close" />
                                                    <i ng-click="openDatePicker($event)" class="icon-append fa fa-calendar"></i>
                                                </label>
                                                <label ng-switch-when="input[select]" class="select" ng-class="{'state-disabled': transmitting, 'editInlineSpacing': !input.inlineEdit }">
                                                    <select class="editDropDown-select" ng-init="input.selectValue = input.value" ng-model="input.selectValue" ng-change="inlineSelectValue(this)">
                                                        <option ng-repeat="val in input.options" value="{{val}}">{{val}}</option>
                                                    </select><i></i>
                                                    <input type="text" ng-model="input.value" class="inline-text" ng-class="{'ignore-validation': !input.required }" ng-required="input.required" name="{{$index}}" placeholder="{{input.description}}" ng-show="input.inlineEdit" />
                                                </label>
                                                <label ng-switch-default class="input">
                                                    <input ng-if="input.type === 'input[text]' && !input.hide" ng-model="input.value" ng-class="{'ignore-validation': !input.required }" name="repeatedname" ng-required="input.required" placeholder="{{input.description}}" type="text">
                                                    <input ng-if="input.type === 'input[url]' && !input.hide" name="url" ng-required="input.required" placeholder="{{input.description}}" type="url">
                                                    <uib-timepicker name="url" class="time" required ng-if="input.type === 'input[time]'" ng-model="inputTime.time"></uib-timepicker>
                                                </label>
                                            </div>
                                        </section>
                                    </fieldset>

                                    <div ng-show="showAdvancedBtn" class="text-center advanced-source-options-button">
                                        <button type="button" ng-click="showAdvanced = !showAdvanced" formnovalidate class="cancel btn btn-primary btn-sm">
                                            <span>{{!showAdvanced ? 'Show' : 'Hide'}} Advanced Options</span>
                                        </button>
                                    </div>

                                    <fieldset class="advanced-source-options" ng-if="showAdvanced">
                                        <section ng-if="input.advanced" ng-repeat="input in mock.userInputs | orderBy:'order'" class="col col-md-12">
                                            <label class="label">{{input.title}}</label>
                                            <div class="row" ng-if="input.multiple">
                                                <div ng-repeat="val in input.values track by $index">
                                                    <div class="col col-10">
                                                        <label class="input">
                                                            <input ng-if="input.type === 'input[text]'" name="multi" ng-required="input.required" placeholder="{{input.description}}" type="text" ng-model="val.value">
                                                            <input ng-if="input.type === 'input[url]'" type="url" name="multi" ng-required="input.required" placeholder="{{input.description}}" ng-model="val.value">
                                                        </label>
                                                    </div>
                                                    <div class="col col-2">
                                                        <button type="button" formnovalidate class="cancel btn btn-danger btn-sm" ng-click="deleteValue()" ng-hide="$first && $last"><i class="fa fa-minus"></i></button>
                                                        <button type="button" formnovalidate class="cancel btn btn-success btn-sm" ng-click="addNewValue()" ng-show="$last"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="!input.multiple" ng-switch="input.type">
                                                <label ng-switch-when="input[select]" class="select" ng-class="{'state-disabled': transmitting, 'editInlineSpacing': !input.inlineEdit }">
                                                    <select class="editDropDown-select ignore-validation" ng-model="input.selectValue" ng-change="inlineSelectValue(this)">
                                                        <option ng-repeat="val in input.options" value="{{val}}">{{val}}</option>
                                                    </select><i></i>
                                                    <input type="text" ng-model="input.value" class="inline-text" ng-class="{'ignore-validation': !input.required }" ng-required="input.required" name="{{$index}}" placeholder="{{input.description}}" ng-show="input.inlineEdit" />
                                                </label>
                                                <label ng-switch-default class="input">
                                                    <input ng-if="input.type === 'input[text]'" ng-model="input.value" ng-class="{'ignore-validation': !input.required }" name="repeatedname" ng-required="input.required" placeholder="{{input.description}}" type="text">
                                                    <input ng-if="input.type === 'input[url]'" name="url" ng-required="input.required" placeholder="{{input.description}}" type="url">
                                                    <uib-timepicker name="url" class="time" required ng-if="input.type === 'input[time]'" ng-model="inputTime.time"></uib-timepicker>
                                                </label>
                                            </div>
                                        </section>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <fieldset ng-if=" sourceType === 'Advanced Source Builder' ">
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Source Title</label>
                                    <label class="input" ng-class="{'state-disabled': transmitting }"> <i class="icon-prepend fa fa-database"></i>
                                        <input required type="text" name="title" placeholder="{{source.title || title + ' Name'}}" ng-model="source.title" ng-disabled="transmitting" ng-change="setValues()">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Data Group</label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i class="icon-append fa fa-user"></i>
                                        <select required ng-model="dataGroupChosen" ng-options="dg.name for dg in dataGroups | orderBy:'name'" ng-disabled="transmitting" ng-change="setValues()">
                                            <option value="" selected>Select a data group</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Tags</label>
                                  <ik-tags-input tags-as-array="source.tags" readonly="false">
                                  </ik-tags-input>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Type</label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select required id="dataType" name="dataType" ng-model="dataType" ng-change="setValues()">
                                            <option value="" selected>Choose source type</option>
                                            <option value="asset-database">Asset Database</option>
                                            <option value="firewall">Firewall</option>
                                            <option value="ldap">LDAP</option>
                                            <option value="network-scan">Network Scan</option>
                                            <option value="proxy">Proxy</option>
                                            <option value="test">Test</option>
                                            <option value="threat-intel">Threat Intelligence</option>
                                        </select>
                                    </label>
                                </section>
                                <!-- hiding the outdated media type field unless we decide to use it again in the future-->
                                <section class="col col-6 hidden">
                                    <label class="label">Media Type</label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select id="shareMediaType" name="shareMediaType" ng-model="shareMediaType" ng-change="setValues()">
                                            <option value="" selected>Select a media type</option>
                                            <option value="news">News</option>
                                            <option value="social">Social</option>
                                            <option value="report">Report</option>
                                            <option value="record">Record</option>
                                            <option value="blog">Blog</option>
                                            <option value="intel">Intel</option>
                                            <option value="discussion">Discussion</option>
                                            <option value="video">Video</option>
                                            <option value="imagery">Imagery</option>
                                            <option value="custom">Custom (enter into JSON below)</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Description</label>
                                    <label class="textarea" ng-class="{'state-disabled': transmitting }">
                                        <textarea class="ignore-validation" name="description" placeholder="{{source.description || 'Describe this ' + title }}" ng-model="source.description" rows="3" ng-disabled="transmitting" ng-change="setValues()"></textarea>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">Data Origin</label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select required id="dataOrigin" name="dataOrigin" ng-model="dataOrigin" ng-change="setValues()">
                                            <option value="" selected>Choose data origin</option>
                                            <option value="external">External</option>
                                            <option value="internal">Internal</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" data-smart-wizard-pane="3" >
                        <fieldset ng-if=" sourceType != 'Advanced Source Builder' ">
                            <div class="row">
                                <label class="label col col-2 text-right">Source Name</label>
                                <section class="col col-6">
                                    <label class="input">
                                        <input required name="sourcename" ng-model="source.title" placeholder="Name your source" type="text" ng-disabled="transmitting" ng-change="setValues()">
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <label class="col col-2 label text-right">Data Group</label>
                                <section class="col col-6">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select required name="datagroup" ng-disabled="transmitting" ng-model="dataGroupChosen" ng-options="dataGroup.name for dataGroup in dataGroups | orderBy:'name'" ng-change="setValues()">
                                            <option value>Select a data group</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <label class="col col-2 label text-right">Type</label>
                                <section class="col col-6">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i class="icon-append fa fa-user"></i>
                                        <select required id="dataType" name="dataType" ng-model="dataType" ng-change="setValues()">
                                            <option value="" selected>Choose source type</option>
                                            <option value="asset-database">Asset Database</option>
                                            <option value="firewall">Firewall</option>
                                            <option value="ldap">LDAP</option>
                                            <option value="network-scan">Network Scan</option>
                                            <option value="proxy">Proxy</option>
                                            <option value="test">Test</option>
                                            <option value="threat-intel">Threat Intelligence</option>
                                            <option ng-if="isAdmin" value="auxiliary">Auxiliary</option>
                                        </select>
                                    </label>
                                </section>
                                <label class="col col-2 label text-right hidden">Media Type</label>
                                <section class="col col-6 hidden">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i class="icon-append fa fa-user"></i>
                                        <select name="shareMediaType" ng-model="shareMediaType" ng-change="setValues()">
                                            <option value="" selected>Select a media type</option>
                                            <option value="news">News</option>
                                            <option value="social">Social</option>
                                            <option value="report">Report</option>
                                            <option value="record">Record</option>
                                            <option value="blog">Blog</option>
                                            <option value="intel">Intel</option>
                                            <option value="discussion">Discussion</option>
                                            <option value="video">Video</option>
                                            <option value="imagery">Imagery</option>
                                            <option value="custom">Custom (enter into JSON below)</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <label class="col col-2 label text-right">Data Origin</label>
                                <section class="col col-6">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select required id="dataOrigin" name="dataOrigin" ng-model="dataOrigin" ng-change="setValues()">
                                            <option value="" selected>Choose data origin</option>
                                            <option value="external">External</option>
                                            <option value="internal">Internal</option>
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <label class="col col-2 label text-right">Frequency</label>
                                <section class="col col-3">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select ng-model="freq.frequency" ng-options="val.label for val in freq.frequencies track by val.value" ng-disabled="transmitting" ng-change="getCost();setFrequency()">
                                        </select>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i></i>
                                        <select ng-model="freq.type" ng-options="type.label for type in freq.types track by type.value" ng-disabled="transmitting" ng-change="changeFrequency();getCost();setFrequency()">
                                        </select>
                                    </label>
                                </section>
                            </div>
                            <div class="row" ng-if="mock.meta.cost">
                                <label class="col col-2"></label>
                                <section class="col col-3">
                                    <label class="well input">
                                        <b>Initial Cost: ${{initialCost}}</b>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="well input">
                                        <b>Daily Cost: ${{dailyCost}}</b>
                                    </label>
                                </section>
                            </div>
                            <div class="well text-center padding-10 testWizardSourceBox">
                                <label>Your source must be tested before it can be published.</label>
                                <button class="btn btn-primary btn-sm" ng-click="testSource()"><i class="fa fa-check-square"></i> Test Source</button>
                                <label class="input">
                                    <b ng-show="testResultError.response" class="text-success" ng-class="{'text-danger': !testResultError.response.success}">{{testResultError.response.success ? 'Success!' : 'Error'}}</b>
                                </label>
                            </div>
                        </fieldset>
                        <fieldset ng-if="showAdvanced && sourceType != 'Advanced Source Builder' ">
                            <div class="row">
                                <div class="col col-6">
                                    <section>
                                        <div class="row">
                                            <label class="col col-4 label text-right">Description</label>
                                            <label class="textarea col col-8" ng-class="{'state-disabled': transmitting }">
                                                <textarea class="form-control" name="description" placeholder="Add a description" rows="3" ng-disabled="transmitting"></textarea>
                                            </label>
                                        </div>
                                    </section>
                                </div>
                                <div class="col col-6">
                                    <section>
                                        <div class="row">
                                        <label class="col col-4 label text-right">Tags</label>
                                        <label class="textarea col col-8" ng-class="{'state-disabled': transmitting }">
                                            <textarea name="tags" placeholder="Tag, tag, tag" rows="3" ng-disabled="transmitting"></textarea>
                                        </label>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="no-border" autocomplete="off" ng-show=" sourceType === 'Advanced Source Builder' ">
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">Choose a Source Template (optional)</label>
                                    <label class="select" ng-class="{'state-disabled': transmitting }"> <i class="icon-append fa fa-user"></i>
                                        <select ng-change="chooseSource();" ng-model="sourceChosen" ng-options="source.title for source in allSources | orderBy:'title' " ng-disabled="transmitting"></select>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <button class="btn btn-xs" ng-click="JSONFullTab()" ng-class="!viewingLsTab ? 'btn-primary' : 'btn-secondary'">JSON</button>
                                    <button class="btn btn-xs" ng-click="JSONLsTab()" ng-show="checkForLogstash()" ng-class="viewingLsTab ? 'btn-primary' : 'btn-secondary'">{{checkForLogstash(true) ? 'LS' : 'JS'}}</button>
                                </section>
                                <section class="col col-8 text-right">
                                    <button class="btn btn-secondary btn-xs" ng-click="validateJSON()"><i class="fa fa-check"></i> Validate</button>
                                    <button class="btn btn-secondary btn-xs" ng-click="scrubJSON()"><i class="fa fa-eraser"></i> Scrub</button>
                                    <button class="btn btn-secondary btn-xs" ng-click="chooseSource(); JSONRevertSuccess=true"><i class="fa fa-undo"></i> Revert</button>
                                </section>
                            </div>
                            <section>
                                <div ng-show="JSONErrors" class="alert alert-danger fade in">
                                    <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                                    <h3>Your code has errors, see below:</h3>
                                    <div ng-repeat="error in JSONErrors"><strong>Error (line: {{error.line}} [{{error.character}}])</strong>: {{error.reason}}</div>
                                </div>
                                <div ng-show="!JSONErrors && JSONSuccess" class="alert alert-success fade in">
                                    <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                                    <div>JSON Looks good!</div>
                                    <div ng-show="scrubText">{{scrubText}}</div>
                                </div>
                                <div ng-show="!JSONErrors && scrubText" class="alert alert-success fade in">
                                    <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                                    <div>{{scrubText}}</div>
                                </div>
                                <div ng-show="!JSONErrors && JSONRevertSuccess" class="alert alert-success fade in">
                                    <button class="close" ng-click="JSONErrors = null; JSONSuccess = null; JSONRevertSuccess= null; scrubText = null">×</button>
                                    <div>Reverted to original state.</div>
                                </div>
                                <div ui-codemirror ui-codemirror-opts="editorOptions" ng-model="JSONValue" ui-refresh=" sourceType === 'Advanced Source Builder' "></div>
                                <footer ng-show="!transmitting">
                                    <label class="label col col-1">Test:</label>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select ng-model="documents.chosen" ng-options="doc for doc in documents.choices"></select> <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <div class="inline-group" style="padding-top:4px;">
                                            <label class="checkbox" ng-class="{'state-disabled': transmitting }">
                                                <input type="checkbox" name="checkbox-inline" ng-model="source.fullText" ng-disabled="transmitting">
                                                <i></i>Full Text</label>
                                            <label class="checkbox" ng-class="{'state-disabled': transmitting }">
                                                <input type="checkbox" name="checkbox-inline" ng-model="source.testUpdates" ng-disabled="transmitting">
                                                <i></i>Update Test Mode</label>
                                        </div>
                                    </section>
                                    <button class="btn btn-primary btn-sm" ng-click="testSource()"><i class="fa fa-check-square"></i> Test Source</button>
                                </footer>
                            </section>
                        </fieldset>
                    </div>

                </div>

                <div ng-hide="transmitting" class="form-actions">
                    <ul class="pager wizard no-margin">
                        <li class="previous" data-smart-wizard-prev><a href="#" class="btn btn-lg btn-default"> Previous </a></li>
                        <li class="next" ng-show="showPublish"><a class="btn btn-success btn-lg publishBtn" ng-disabled="!testResultError.response.success || JSONErrors" ng-click="publishSource();"><i class="fa fa-sign-in"></i> Publish Source </a></li>
                        <li class="next" ng-show="showPublish"><span class="publishBtn">OR</span></li>
                        <li class="next" data-smart-wizard-next><a href="#" class="btn btn-lg"> Next </a></li>
                    </ul>
                </div>

        </div>
        </form>
        <!-- end widget content -->
    </div>
    <!-- end widget div -->
</div>
<!-- end widget -->
