<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="wid-id-0" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-plus-circle"></i> </span>
        <h2>Source Builder Test Results</h2>
    </header>

    <!-- widget div-->
    <div>
        <!-- widget content -->
        <form class="smart-form sourceTestResults" ng-class="{'error': !testResultError.response.success}">
          <div class="alert alert-danger fade in" ng-class="{'alert-success': testResultError.response.success}">
              <button class="close">×</button>
              <div ng-if="!testResultError.response.success"><strong>Your source has errors:</strong></div>
              <div ng-if="testResultError.response.success">
                <div ng-if="testResultError.response.action === 'Test Source' ">Your source has no errors! Ready to publish.</div>
                <div ng-if="testResultError.response.action === 'Share' ">Your source "{{testResultError.data.title}}" [ID: {{testResultError.data._id}}] has been saved successfully!</div>
                <div ng-if="testResultError.response.action === 'Source' ">Your source "{{testResultError.data.title}}" [ID: {{testResultError.data._id}}] has been published successfully!</div>
              </div>
          </div>
          <div ui-codemirror ui-codemirror-opts="testResultOptions" ng-model="JSONTestResults"></div>
          <!-- end widget content -->
          <footer>
              <button ng-if="!testResultError.response.success || testResultError.response.action == 'Test Source' " class="btn btn-secondary" ng-click="closeResults()"><i class="fa fa-undo"></i> Return to edit</button>
              <button ng-if="testResultError.response.success && testResultError.response.action != 'Test Source' " class="btn btn-secondary" ng-click="closeResultsDashboard()"><i class="fa fa-undo"></i> Close and go to my sources</button>
          </footer>
        </form>
    </div>
    <!-- end widget div -->

</div>
<!-- end widget -->