<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget class="confirmation-modal" data-widget-color="darken" data-widget-editbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-sortable="false">

  <header>
    <span class="widget-icon"> <i class="fa fa-warning"></i> </span>
    <h2>Session Timeout Warning</h2>
  </header>

  <div class="confirmation-modal-body" ng-init="timeLeft = 'in 3 minutes'">
    <h3>Due to inactivity, you will be logged out {{timeLeft}}.  If you would like to stay logged in, please click continue below.</h3>
  </div>


  <section class="confirmation-modal-footer">
    <button class="btn btn-danger" ng-click="logoutClicked()">Log Out</button>
    <button class="btn btn-success" ng-click="stayLoggedIn()">Continue</button>
  </section>
</div>