// Add anything custom here -- mixins, variable overrides.
// by adding things here instead of overriding existing .LESS files, it makes merging changes on product updates easier

.graph-selection-indicator {
      position: absolute;
      background-color: none;
      border: 1px solid orange;
      pointer-events: none;
}
.popover-content:empty{
	display:none;
}
.link-graph-viewer{
	position: absolute;
	z-index: 1;
	opacity: 0.98;
	background-color: white;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.link-graph-viewer-hidden{
	opacity: 0;
	pointer-events:none;
}
.inline-spark svg{
	display: inline!important;
}
