<div id="login-info-dropdown" class="btn-group transparent" uib-dropdown style="margin-right: 5px;">
  <button type="button" class="btn btn-default" uib-dropdown-toggle>
    <i class="fa fa-user"></i>
    <span>{{currFullname}}</span>
    <i class="fa fa-caret-down"></i>
  </button>
  <ul uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
    <li>
      <a ui-sref="app.manager.modal.manageUsers({editProfile: true})" ui-sref-opts="{reload:true}" title="Edit Profile">
        <i class="fa fa-edit"></i> Edit Profile</a>
    </li>
    <li>
      <a ui-sref="logout" title="Logout"
         data-logout-msg="You can improve your security further after logging out by closing this opened browser">
        <i class="fa fa-sign-out"></i> Logout</a>
    </li>
  </ul>
</div>