/* workspace/dashboard (widget) styling */

.dashboard-settings {
	cursor: pointer;
	margin: 5px 10px 0 0;
}

.dashboard div.form-actions > ul {
	padding-bottom: 13px;
}

.dashboard section>div.well {
	margin-top: 5px;
	padding-top: 5px;
}

.dashboard section>div.well>label {
	padding: 5px 20px;
}

.dashboard span.status {
	display: inline;
	padding: 6px;
	margin: 4px 20px 0 0;
	font-size: 90%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .35em;
}

.dashboard div.well > h2 {
	padding-left:10px;
}

.dashboard div.well-box {
	border: 1px solid #ddd;
	border-top: none;
	height: 40px;
	padding-left: 10px;
}

.dashboard {
	div.datafeeds {
		width:98%;
		border-bottom: 1px solid #ddd;
		margin:5px;
	}
	div.datafeeds > label {
		padding-left:10px;
	}
}

.dashboard div.frequency {
	border-bottom: 1px solid #ddd;
	margin-bottom:5px;
}

.dashboard div.select {
	padding-top: 5px;
}

.data-feed-table {
	tr {
		padding-bottom: 10px;
	}

	tr>td>div {
		height: 35px;
		padding-top: 8px;

		label {
			margin: 0 5px 0 10px;
		}
	}
}

.dashboard header.sources {
	padding: 0;
	margin: 0;
	color: #fff;
}


.widget-settings {
	display: block;

	background-color: #161B22;

	label {
		color: #ccc;
	}

	div.source-table {
		max-height:150px;
		overflow: -moz-scrollbars-vertical;
		overflow-y:scroll;
		border:1px solid #ddd;
		margin-bottom: 10px;

		background-color: #fff;

		table {
			margin: 0;
		}
	}

	div.text-right {
		background: #2c3742;
		margin: -10px;
		margin-top: 10px;
		padding: 10px;
	}
}
/* slide up/down for widget settings */

.slideIn.ng-enter {
  transition:0.2s ease-in-out;
  max-height:0;
}

.slideIn.ng-enter.ng-enter-active {
  max-height:500px;
}

.slideIn.ng-leave {
  transition:0.2s ease-in-out;
  max-height:500px;
}
.slideIn.ng-leave.ng-leave-active {
  max-height:0;
}