/* datagroup create, edit, settings */

/* user group expanding */
.datagroup {
	ul>li>a {
		color: #333;
		cursor: pointer;
	}
	ul.expand-list {
		display: none;
		list-style: none;
		margin-top: 10px;
	}

	ul.expand-list li {
		line-height: 15px;
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid #ccc;
		}
	}
}