@font-face{
  font-family: 'PT Sans';
  src: url('../fonts/ptsans/PTS55F-webfont.eot');
  src: url('../fonts/ptsans/PTS55F-webfont.eot?iefix') format('eot'),
  url('../fonts/ptsans/PTS55F-webfont.woff') format('woff'),
  url('../fonts/ptsans/PTS55F-webfont.ttf') format('truetype'),
  url('../fonts/ptsans/PTS55F-webfont.svg#PTS55F-webfont') format('svg');
}