
@import "variables.less";



/* Component LESS */
//@import "../../plugin/bootstrap-colorpicker/colorpicker.css";
//@import "../../plugin/bootstrap-duallistbox/bootstrap-duallistbox.css";
//@import "../../plugin/bootstrap-tagsinput/bootstrap-tagsinput.css";
//@import "../../plugin/bootstrapvalidator/bootstrapValidator.css";
//@import "../../plugin/clockpicker/jquery-clockpicker.css";
//@import "../../plugin/datatables/css/jquery.dataTables.css";
//@import "../../plugin/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css";
//@import "../../plugin/datatables-colvis/dataTables.colVis.css";
//@import "../../plugin/datatables-responsive/css/datatables.responsive.css";
//@import "../../plugin/datatables-tabletools/dataTables.tableTools.css";
//@import "../../plugin/dropzone/css/dropzone.css";
//@import "../../plugin/ion.rangeSlider/ion.rangeSlider.css";
//@import "../../plugin/jquery-ui/themes/base/base.css";
//@import "../../plugin/select2/select2.css";
//@import "../../plugin/x-editable/css/bootstrap-editable.css";

@import "../../plugin/angular-busy/angular-busy.css";
@import "../../plugin/angular-json-human/angular-json-human.css";
@import "../../plugin/codemirror/codemirror.css";
@import "../../plugin/ng-tags-input/ng-tags-input.css";
@import "../../plugin/ng-tags-input/ng-tags-input.bootstrap.css";

/* static libs */

/* application styles */
@import "project-create.less";
@import "datagroups.less";
@import "dashboard.less";
@import "source-builder.less";
@import "searchbar.less";
@import "system-message.less";
@import "search-results.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.pagination, .carousel a { cursor: pointer; }

/* Colors */
@blue: 			#214f8a;
@blue-medium: 	#5a799e;
@blue-light: 	#92a6b9;
@blue-dark: 	#2C3742;
@grey:			#cccccc;
@black:			#000000;
@white:			#ffffff;



.fixed-header #main {
margin-top: 100px;
}
body.smart-style-2 {

	#main.loginScreen {
		background: #efefef;
	}
	.login-info a span {
		max-width:500px;
		}
}
#logo img {
	width: auto;
	height: auto;
	padding-left: 26px;
	padding-top: 4px;
}

#header {

	.btn-header a>span {
		height: 28px;
	}

	.login-info {
		display: block;
		font-size: 12px;
		height: 40px;
		color: #fff;
		border: none;
		border-width: 0;
		box-shadow: none;
		width: auto;
		margin: 0!important;
		border-bottom: 0px;
		padding: 0px;

		& > span {
			border-bottom: 0px;
			padding-left: 0px;
			padding-right: 8px;
			height: 20px;

			img {
				border: 0;

				.online {
					border-left-color: @grey !important;
				}
			}
			& > a {
				padding: 0 10px;
				margin: 5px 0 0;
				height: 28px;
			}
			a:hover {
				color: @white;
			}

		}
	}
	& > div#projects {
		height: 30px;
	}

	#admin span a:hover {
		color: #fff;
	}

}


/* new smart style 2 overrides - will break out into ikanow style */

.smart-style-2 .btn-header>:first-child>a {
	background: 0 0;
	border: 1px solid #ccc!important;
	color: #666!important;
	box-shadow: none!important;
}
.smart-style-2 .btn-header &>:first-child &>a:hover,
.smart-style-2 #hide-menu a:hover i {
    color: #3b9ff3 !important;
    cursor:pointer !important;
}
.smart-style-2 .login-info a span,
.smart-style-2 #admin a span {
	font-size: 14px!important;
}
.smart-style-2 .login-info a,
.smart-style-2 #admin a {
	font-size: 14px!important;
	color: #333;
}
.smart-style-2 .btn-primary, .smart-style-2 .smart-form .button {
    background-color: #214f8a;
    border-color: #214f8a;
}
.smart-style-2 .btn-primary:hover,.smart-style-2 .btn-primary:focus,.smart-style-2 .btn-primary:active,.smart-style-2 .btn-primary.active,.smart-style-2 .open .dropdown-toggle.btn-primary {
    background-color: #3E90D4;
    border-color: #2F7DBE;
}

nav>ul>li>a b {
right: 20px;
}
.smart-style-2 nav ul li a:hover, .smart-style-2 nav ul ul li>a:hover {
	cursor: pointer!important;
}




#projects {

			height: 40px;

		span {
			margin-top: 10px;
		}
	}


#admin {
	margin-right: 6px;
	height: 40px;

	span > a {
		padding: 2px 8px;
	}
}

 #main {
 	margin-top: 50px;
 }

 #left-panel {
 margin-top: 50px;
 }
 body.fixed-header #left-panel {
 	margin-top: 50px;
 }


.memberHeight{
  height: 205px;
  overflow: auto;

  li.list-group-item {
  	padding: 10px;
  	line-height:31px;
  }
}

.transmitting{opacity: .4}

.modal-backdrop.in {
	height:100%;
}

.modal-content{
	.jarviswidget{
		margin-bottom:0px;
	}
}

.smart-form {
	.bootstrapWizard{
		margin:15px 0 15px 0;
	}
	.form-actions {
		margin-top:7px;
	}
}

.publishBtn {
	margin-left:10px;
}
span.publishBtn {
	border:none !important;
	background:none !important;
}

/* CODE MIRROR */
.CodeMirror { border-width:1px; border-style: solid; border-color:#DBDFE6;}
.sourceTestResults .CodeMirror { height: 400px !important; margin-bottom:12px;}
.sourceTestResults.error .CodeMirror pre{color:red;}
.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}

/* WIZARD */

.bootstrapWizard li.complete .step {
  background: #96bf48;
  border: 3px solid #96bf48;
}

.bootstrapWizard li.active .step,
.bootstrapWizard li.active.complete .step {
  background: #214F88;
  border: 3px solid #214F88;
}
.bootstrapWizard li:before {
  border-top: 1px dashed #999;
  }
.header-button {
	margin-top:10px;
}

.smart-form .editDropDown-select {
    position: absolute;
    top: 0px;
    width: 90%;
    border-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

}
.smart-form  input.inline-text {
    position: relative;
    border: 0;
    margin: 7px 6px;
    height: auto;
    width: 85%;
}

.smart-form label.editInlineSpacing {
	padding-bottom:30px;
}

.dropdown-menu>li>a {
  padding-left:10px;
}

/* Criticality Vuln Table */

.filterRow{
	display: block;
	position: relative;
	padding: 6px;
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	background: #fafafa;
}

/* Datagroup Source Table */
.edit-table {
    max-height: 300px;
    overflow-y: auto;
}
.edit-table .table {
    border: 1px solid #ddd !important;
}
.edit-table .label {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    color: #fff !important;
    border-radius: .25em !important;
    text-align: center !important;
}
/* ngTagsInput */
tags-input .tags {
  border-radius: 0px !important;
  border-color: #BDBDBD !important;
  padding-left: 35px;
}
tags-input .tags .input {
  font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif !important;
}
.tags-fix {
  z-index: 1;
}

/* style a global spinner on top of everything near the middle of the screen */
.global-spinner {
	position: absolute !important;
	z-index: 1001;
	top: 35%;
	left: 40%;
	background-color: transparent !important;
	border: none;
}

/* style overrides for metadata */
.jh-type-string {
  font-style: italic;
  color: #214f8a;
}

.jh-type-object > tbody > tr:hover,
.jh-type-array > tbody > tr:hover {
  border: 1px solid #999;
}

/* border radius on right side of buttons if there is no dropdown */
.no-dropdown-button {
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
  min-width: 132px !important;
}

/* Set height for tr's with no buttons */
.user-row-height {
  height:30px;
  min-height: 30px;
}

/* Action buttons need a min td width */
.action-button-td {
  width: 132px;
}
.action-button-dropdown {
  min-width: 106px !important;
}

.jarviswidget-color-blueDark.vivagraph .nav-tabs li:not(.active) a, .jarviswidget-color-blueDark.vivagraph>header>.jarviswidget-ctrls a{
	color: rgb(51,51,51)!important;
}

/* Project Settings - emulate styles from jarviswidget-color-blueDark */
.bluedark-header {
  background: #2C3742 !important;
  border-color: #2C3742 !important;
  color: #fff !important;
}

/* style the maintenance alert text */
.maintenance-message {
	padding: 16px;
}

/* secret toggle to show the maintenance message.  TODO: remove once architecture in place for saving/loading system messages */
.toggle-maint {
	width: 75px;
	height: 25px;
}
.fixed-navigation nav>ul {
  height: 95% !important;
}
/* Manager Modal */
#manager-modal {

	ul.nav.nav-tabs {
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-left: 10px;
   }

}
.manager-modal {
  border: none !important;
}
.manager-modal-window .modal-dialog {
  width: 85%;
}
.jarviswidget-color-darken>.nav-tabs>li:not(.active)>a {
  color: #333 !important;
}
.view-details {
  background-color: #F7F7F7;
  margin: 3px 13px 0;
}
.smart-style-2.minified .login-info span {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  background: #FFF !important;
  border-radius: 4px !important;
}
.minified .login-info a i, .minified .login-info a span {
  display: inline !important;
}
.minified .login-info a i {
  vertical-align: 7% !important;
}
.table .popover-content {
  padding: 9px 14px;
}
.tooltip-padding .tooltip-inner {
  padding: 3px 8px !important;
}
/* confirmation/alert modal */
.confirmation-modal {

  section>button {
    margin-top: 15px;
  }

  .confirmation-modal-body {
    border-width: 1px;
  }
  .confirmation-modal-footer {
    border-top: 1px solid rgba(0,0,0,.1) !important;
    display: block;
    text-align: right;
    background: rgba(249,249,249,.9);
    padding: 13px 14px 15px;
    border-style: none;
    border-width: 1px;
  }
}
.forgot-password-link {
  position: absolute;
  margin-top: 15px;
}
.popover {
  padding: 10px;
}
.cg-busy {
  z-index: 999 !important;
}