/* project create, edit, settings */

.project-create {
	.data-select-left {
		padding: 15px;
		margin-left: 45px;
	}

	.data-select-right {
		padding: 15px;
		float: right;
		margin-right: 45px;
	}

	.margin-r-15 {
		margin-right:15px;
	}

	.pad-left-1 {
		padding-left: 1px;
	}

	.checkbox-center {
		margin-left:21%;
	}

	textarea.textarea {
		width: 99.8%;
	}

	i.icon-prepend {
		z-index:100;
	}
}

.list-spacing li {
	margin-bottom:12px;
}

.dropdown {
	.dropdown-override {
		width:210px;
		height:300px;
		overflow-y:auto;
		overflow-x:hidden;
		z-index: 999;
	}

    .dropdown-override-no-projects {
      width:210px;
      height:65px;
      overflow-y:auto;
      overflow-x:hidden;
      z-index: 999;
    }

	.dropdown-project-static {
		width: 210px;
		border-top: 1px solid #e5e5e5;
		margin-top:300px;
	}

    .dropdown-no-projects {
      width: 210px;
      border-top: 1px solid #e5e5e5;
      margin-top:35px;
    }
}

/* user group expanding */
.project {
	ul>li>a {
		color: #333;
		cursor: pointer;
	}
	ul.expand-list {
		display: none;
		list-style: none;
		margin-top: 10px;
	}
	ul.expand-list li {
		line-height: 15px;
		padding: 10px;
	}

/* fix for smart-form style overriding the label pill styles */
	.pill {
		text-align: center;
		line-height: 15px !important;
		white-space: nowrap;
		margin: 0;
		font-weight: 700;
		display: inline;
		padding: .2em .6em .3em;
		font-size: 75%;
		color: #fff;
		border-radius: .25em;
	}
}

.project {
	div.widget-height {
		min-height: 25px;
	}
}