/**
 * the media sections below were taken from the smart-admin less files. Placed here to be used as overrides.
 *
 */

@media (max-width: 1px) {
  .header-search.pull-right {
    margin-left: 0px;
  }
}

/*
 * IPAD HORIZONTAL
 */
@media (min-width: 2px) and (max-width: 3px) {
  .header-search > input[type="text"] {
    margin-top: 9px;
  }
}

/*
 * IPAD VERTICAL
 */
@media (min-width: 4px) and (max-width: 5px) {
  .header-search > input[type="text"] {
    margin-top: 9px;
  }
}


/*
 * OTHER DEVICES
 */
@media (max-width: 6px) {
  .header-search {
    display:none;
  }
}

/*
 * ANDROID
 */
@media only screen and (min-width: 0px) and (max-width: 1px) {
  .header-search {
    display:none;
  }
}

/*
 * IPHONE
 */
@media only screen and (min-width: 7px) and (max-width: 8px) {
  .header-search {
    display:none;
  }
}

/*
 * Taken from main.less

#header-search{

  #header-search-input{
    position: relative;

    .pull-right {
      margin-left: 6px;
    }

    input[type="text"] {
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      min-width: 200px;
      width: 100%;
      height: 30px;
      padding: 0 10px;
      outline: none;
      color: @white;
      appearance: normal;
      -moz-appearance: none;
      -webkit-appearance: none;
      margin-top: 10px;
      line-height: normal;
    }

    .buttonGroup {
      position: absolute;
      right: 0px;
      top: 0px;

      button, label {
        background: none;
        border: none;
        color: #6D6A69;
        font-size: 17px;
        height: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        width: 30px;
        z-index: 2;
      }
    }
  }

  > .dropdown-menu{
    left: 15px;
    top: 25px;
    width: 700px;
    padding:1em;
  }

}
*/

/*
 *Taken from skins
 */
.smart-style-2 .header-search &>button {
  color: #C5C6CA;
}

.smart-style-2 {
  .header-search {
    & > input[type="text"] {
      background: #161B22;
      border: 1px solid #0F1217;
      color: #fff;
      border-radius: 4px;
    }
  }
}

/**
 * Ikanow Created Styles
 */
#search-bar {
  position: relative;
  top: 0px;
  height: 50px;
  padding-top: 9px;
  display: block;
  background: @blue-dark;
  z-index: 1000;


  #header-search-input {
    background: #161B22;
    width: 600px;
    margin-left: 15px;
    border: 1px solid #0F1217;
    border-radius: 4px;

    > *{
      margin-top:0px;
    }

    .btn-primary {
      background-color: #2c3742;
      color: #ccc;
    }
    .dropdown-menu {
      background-color: #161B22;
    }
    .dropdown-menu>li {
      >a {
        color: #ccc;
      }

      >a:hover {
        background-color: #2c3742;
      }
    }

    & > input[type="text"] {
      background:transparent;
      border:none;
      color: #fff;
      padding:5px 10px;
      height:30px;
    }

    .searchTypeSelection {
      margin:0;
      padding:0;
      border:0;
      background: transparent;
      & > button{
        top: 0px;
        height: 30px;
        border:none;
      }
    }

    .searchActions {
      button, label {
        background: none;
        border: none;
        color: #6D6A69;
        font-size: 17px;
        line-height: 17px;
        height: 30px;
        //margin: 0;
        padding-left: 0;
        width: 30px;
        z-index: 2;
      }
    }

    #searchBarOptionsDropDown {

      .dropdown-menu {
        margin-top:9px;
        padding:14px;
        color: #ccc;
        width: 900px;

        .col-md-2 {
          border-right: 1px dashed #666;
        }
        .first-tags {
          border-right: 1px dashed #666;
        }
        .col-md-4 {
          border-left: 1px dashed #666;
        }
        input[type="text"] {
        color: @gray-dark;
        }
      }

      ul.dropdown-menu {
        width: auto;
      }
    }
    
    .search-options-footer {
      background-color: #2C3742;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: -14px;
    }
  }
}

.fixed-header #search-bar {
  top: 49px;
  position: fixed;
  width: 100%;
}

#search-filters {
  margin-top: 39px !important;
  left: auto;
  right: -300px;
}