.search-results-filter {
	background-color: #161B22;
    color: #ccc;
    padding: 10px;
    margin: -13px;


    .col-md-2 {
          border-right: 1px dashed #666;
        }
        .first-tags {
          border-right: 1px dashed #666;
        }
        .col-md-4 {
          border-left: 1px dashed #666;
        }
        input[type="text"] {
        color: @gray-dark;
        }


    .search-options-footer {
    	background-color: #2c3742;
    	padding: 10px;
    	margin: 10px -10px -10px -10px;
    }


 }