/* source builder modal LESS */

.wizard-li-3 li {
	width: 33%;
}

.pad-top-15 {
	padding-top: 15px;
}

.margin-r-15 {
	margin-right:15px;
}

.pad-left-1 {
	padding-left: 1px;
}

.well-pad {
	padding: 10px 10px;
}

.checkbox-inline-padding {
	padding-left: 30px;
}
.source-builder-toolbar {
	background: #f0f0f0;
	border: 1px solid #BDBDBD;
	padding: 5px 15px;
}
.source-builder-textarea {
	width: 99.8%;
	border-top: none;
}
.source-builder-steps {
	left: 10%;
}
#wid-sb-id-0 {
	.time {
        tbody {
            tr.text-center {
                display: none;
            }

        }
    }
}

form[name="sourceform"] { 

	div[data-smart-wizard-pane="1"] {
		height: 240px;
		div.row {
			margin-top: 30px;
		}
	}
	div[data-smart-wizard-pane="2"] {
		min-height: 240px;
	}

	div.tab-content {
		margin-top: 30px;
	}

	.publish-footer {
		padding-top: 0;
		border-top: none;
		margin-top: -15px;
	}

}

.testWizardSourceBox {
	position:absolute; 
	top: 25px; 
	right:30px; 
	width:230px; 
	height:100px;
	
	button{
		margin-bottom: 10px;
	}

	label{
		margin-bottom: 10px;
	}
	
}

.advanced-source-options-button {
	background-color: #f5f5f5;
  	padding: 10px 0 12px 0;
}

.smart-form fieldset.advanced-source-options {
	background-color: #f5f5f5;
}


