/* system message modal and/or edit */

.system-maintenance {

	label {
		color: #333;
	}

	label.time-pick {
		padding-top: 40px;
		float:left;
	}

	fieldset {
		padding-left: 14px;
	}

	div.well {
		right: 5%;
		top: -100%;
		padding: 15px;
		position:absolute;

		div {
			top: 110%;
			left: 0;
			position:absolute;
			width: 88%;
		}
	}
	
	span.input-group-btn {
		padding-left: 10px;
	}

	.maint-textarea {
		margin: 15px 0 0 -13px;
		padding: 5px;
	}

	.form-actions {
		display: block;
    	padding: 13px 14px 25px;
    	background: none !important;
    	margin-top: 10px;
	}

	input {
		min-width: 45px;
		cursor: text !important;
		background-color: #fff !important;
	}

/* fix for button squishing issue in firefox with bootstrap timepicker */
	td>button {
		min-width: 35px !important;
	}

}

