//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Brand colors
// -------------------------

@brand-primary:         #3276B1;
@brand-success:         #739E73;
@brand-warning:         #C79121;
@brand-danger:          #A90329;
@brand-info:            #57889C;

// Scaffolding
// -------------------------

@body-bg:               #fff;
@text-color:            @gray-dark;

// Links
// -------------------------

@link-color:            	@brand-primary;
@link-hover-color:          darken(@link-color, 15%);
@link-hover-decoration:     none;

// Typography
// -------------------------


@font-family-sans-serif:  "PT Sans", Arial, Helvetica, Sans-Serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          13px;
@font-size-large:         ceil(@font-size-base * 1.24); // ~16px
@font-size-small:         ceil(@font-size-base * 0.85); // ~11px

@font-size-h1:            floor(@font-size-base * 1.85);// ~24px
@font-size-h2:            floor(@font-size-base * 1.7);// ~22px
@font-size-h3:            ceil(@font-size-base * 1.385); // ~18px
@font-size-h4:            ceil(@font-size-base * 1.32); // ~17px
@font-size-h5:            ceil(@font-size-base * 1.24);	// ~16px
@font-size-h6:            ceil(@font-size-base * 1.08); // ~14px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;

// Iconography
// -------------------------

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:		  "glyphicons_halflingsregular";



// Components
// -------------------------
// Based on 13px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          6px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         10px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@padding-xs-vertical:            1px;
@padding-xs-horizontal:          5px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             2px;
@border-radius-large:            3px;
@border-radius-small:            2px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:         #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:            @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:               4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:              5px;

// Tables
// -------------------------

@table-cell-padding:                 8px;
@table-condensed-cell-padding:       5px;

@table-bg:                           transparent; // overall background-color
@table-bg-accent:                    #f9f9f9; // for striping
@table-bg-hover:                     #ecf3f8;
@table-bg-active:                    @table-bg-hover;

@table-border-color:                 #ddd; // table and cell border




// Buttons
// -------------------------

@btn-font-weight:                bold;

@btn-default-color:              #333;
@btn-default-bg:                 #fff;
@btn-default-border:             #ccc;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-link-disabled-color:        @gray-light;


// Forms
// -------------------------

@input-bg:                       #fff;
@input-bg-disabled:              @gray-lighter;

@input-color:                    @gray;
@input-border:                   #ccc;
@input-border-radius:            0px;
@input-border-focus:             #66afe9;

@input-border-radius-large:      @border-radius-large;
@input-border-radius-small:      @border-radius-small;

@input-color-placeholder:        @gray-light;

@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

@input-group-addon-bg:           @gray-lighter;
@input-group-addon-border-color: @input-border;

@cursor-disabled:                not-allowed;

// Dropdowns
// -------------------------

@dropdown-bg:                    #fff;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-fallback-border:       #ccc;
@dropdown-divider-bg:            #e5e5e5;

@dropdown-link-active-color:     #fff;
@dropdown-link-active-bg:        @component-active-bg;

@dropdown-link-color:            @gray-dark;
@dropdown-link-hover-color:      #fff;
@dropdown-link-hover-bg:         @dropdown-link-active-bg;

@dropdown-link-disabled-color:   @gray-light;

@dropdown-header-color:          @gray-light;

@dropdown-caret-color:           #000;

// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1010;
@zindex-tooltip:           1030;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  1px;
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  2px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  3px;
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  999999px;
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              12;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         26px;

// Navbar collapse

// Point at which the navbar becomes uncollapsed
@grid-float-breakpoint:     @screen-sm-min;
// Point at which the navbar begins collapsing
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             #777;
@navbar-default-bg:                #f8f8f8;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #777;
@navbar-default-link-hover-color:          #333;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-link-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #ccc;
@navbar-default-toggle-border-color:       #ddd;


// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color:                      @gray-light;
@navbar-inverse-bg:                         #222;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @gray-light;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
@navbar-inverse-search-bg:                  lighten(@navbar-inverse-bg, 25%);
@navbar-inverse-search-bg-focus:            #fff;
@navbar-inverse-search-border:              @navbar-inverse-bg;
@navbar-inverse-search-placeholder-color:   #ccc;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #333;


// Navs
// -------------------------

@nav-link-padding:                          9px 10px 10px;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;
@nav-open-caret-border-color:               #fff;

// Tabs
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   #ddd;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

// Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


// Pagination
// -------------------------

@pagination-color:                     @link-color;
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-color:               @link-hover-color;
@pagination-hover-bg:                  @gray-lighter;
@pagination-hover-border:              #ddd;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @brand-primary;

@pagination-disabled-color:            @gray-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;


// Pager
// -------------------------

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;


// Jumbotron
// -------------------------

@jumbotron-padding:              30px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil(@font-size-base * 1.5);


// Form states and alerts
// -------------------------

@state-warning-text:             #c09853;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           #DBAB57;

@state-danger-text:              #b94a48;
@state-danger-bg:                #f2dede;
@state-danger-border:            #b94a48;

@state-success-text:             #468847;
@state-success-bg:               #dff0d8;
@state-success-border:           #468847;

@state-info-text:                #346597;
@state-info-bg:                  #D6DDE7;
@state-info-border:              darken(spin(@state-info-bg, -10), 18%);


// Tooltips
// -------------------------
@tooltip-max-width:           200px;
@tooltip-color:               #fff;
@tooltip-bg:                  #000;
@tooltip-opacity:             .9;

@tooltip-arrow-width:         5px;
@tooltip-arrow-color:         @tooltip-bg;


// Popovers
// -------------------------
@popover-bg:                          #fff;
@popover-max-width:                   276px;
@popover-border-color:                rgba(0,0,0,.2);
@popover-fallback-border-color:       #ccc;

@popover-title-bg:                    darken(@popover-bg, 3%);

@popover-arrow-width:                 10px;
@popover-arrow-color:                 #fff;

@popover-arrow-outer-width:           (@popover-arrow-width + 1);
@popover-arrow-outer-color:           rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color:  #999;


// Labels
// -------------------------

@label-default-bg:            @gray-light;
@label-primary-bg:            @brand-primary;
@label-success-bg:            @brand-success;
@label-info-bg:               @brand-info;
@label-warning-bg:            @brand-warning;
@label-danger-bg:             @brand-danger;

@label-color:                 #fff;
@label-link-hover-color:      #fff;


// Modals
// -------------------------
@modal-inner-padding:         20px;

@modal-title-padding:         15px;
@modal-title-line-height:     @line-height-base;
@modal-content-bg:                             #fff;
@modal-content-border-color:                   rgba(0,0,0,.2);
@modal-content-fallback-border-color:          #999;

@modal-backdrop-bg:           #000;
@modal-backdrop-opacity:      .5;
@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


// Alerts
// -------------------------
@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


// Progress bars
// -------------------------
@progress-bg:                 #f5f5f5;
@progress-bar-color:          #fff;
@progress-border-radius:      @border-radius-base;

@progress-bar-bg:             @brand-primary;
@progress-bar-success-bg:     @brand-success;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
@progress-bar-info-bg:        @brand-info;


// List group
// -------------------------

@list-group-bg:                 #fff;
@list-group-border:             #ddd;
@list-group-border-radius:      @border-radius-base;

@list-group-hover-bg:           #f5f5f5;
@list-group-active-color:       @component-active-color;
@list-group-active-bg:          @component-active-bg;
@list-group-active-border:      @list-group-active-bg;
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

@list-group-disabled-color:      @gray-light;
@list-group-disabled-bg:         @gray-lighter;
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         #555;
@list-group-link-hover-color:   @list-group-link-color;
@list-group-link-heading-color: #333;

// Panels
// -------------------------
@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


// Thumbnails
// -------------------------
@thumbnail-padding:           4px;
@thumbnail-bg:                @body-bg;
@thumbnail-border:            #ddd;
@thumbnail-border-radius:     @border-radius-base;

@thumbnail-caption-color:     @text-color;
@thumbnail-caption-padding:   9px;


// Wells
// -------------------------
@well-bg:                     #f5f5f5;
@well-border:                 darken(@well-bg, 7%);


// Badges
// -------------------------
@badge-color:                 #fff;
@badge-link-hover-color:      #fff;
@badge-bg:                    @gray-light;

@badge-active-color:          @link-color;
@badge-active-bg:             #fff;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         10px;


// Breadcrumbs
// -------------------------

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
@breadcrumb-bg:                 #f5f5f5;
@breadcrumb-color:              #ccc;
@breadcrumb-active-color:       @gray-light;
@breadcrumb-separator:          "/";

// Carousel
// ------------------------

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  20px;

@carousel-indicator-active-bg:                #fff;
@carousel-indicator-border-color:             #fff;

@carousel-caption-color:                      #fff;


// Close
// ------------------------
@close-color:                 #000;
@close-font-weight:           bold;
@close-text-shadow:           0 1px 0 #fff;


// Code
// ------------------------
@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@kbd-color:                   #fff;
@kbd-bg:                      #333;

@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;
@pre-scrollable-max-height:   340px;

// Type
// ------------------------
@text-muted:                  @gray-light;
@abbr-border-color:           @gray-light;
@headings-small-color:        @gray-light;
@blockquote-small-color:      @gray-light;
@blockquote-font-size:        (@font-size-base * 1.25);
@blockquote-border-color:     @gray-lighter;
@page-header-border-color:    @gray-lighter;
@dl-horizontal-offset:        @component-offset-horizontal;

// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @gray-lighter;

// Horizontal forms & lists
@component-offset-horizontal: 180px;


// Container sizes
// --------------------------------------------------

// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      ((1140px + @grid-gutter-width));
@container-lg:                 @container-large-desktop;


/*
 * SMARTADMIN VARIABLES
 * All variables related specifically to the theme starts from here:
 */

// Main Theme Values
// --------------------------------------------------

// Grays
// -------------------------
@black:                  #000;
@gray-darkest:           lighten(@black, 5.5%);  // #111'ish?
@gray-darker:            lighten(@black, 13.5%); // #222
@gray-dark:              lighten(@black, 20%);   // #333
@gray:                   lighten(@black, 33.5%); // #555
@gray-light:             lighten(@black, 60%);   // #999
@gray-mid-light:         lighten(@black, 75%);   // #CCC'ish?
@gray-lighter:           lighten(@black, 93.5%); // #eee
@gray-lightest:          lighten(@black, 95.5%); // #fafafa'ish?

// COLOR PALLET
// --------------------------------------------------

@blueStandard:					#3276B1;
@blueSky:						#0091D9;
@blue: 							#57889C;
@blueLight: 					#92A2A8;
@blueDark: 						#4c4f53;
@green: 						#356e35;
@greenLight: 					#71843f;
@greenDark: 					#496949;
@greenBright:					#40AC2B;
@red: 							#a90329;
@yellow: 						#b09b5b;
@orange: 						#C79121;
@orangeDark: 					#A57225;
@orangeBright:					#ffc40d;
@pink: 							#ac5287; 
@pinkDark: 						#a8829f;
@purple: 						#6E587A;
@darken: 						#404040;
@lighten: 						#d5e7ec;
@white: 						#ffffff;
@greyDark: 						#525252;
@magenta: 						#6e3671; 
@teal: 							#568a89;
@redLight: 						#a65858;
@redBright:						#ed1c24;
@tealLight:						#0AA66E;

// DROPDOWN ANIMATIONS (GLOBAL)
// for full animation list go to: http://daneden.github.io/animate.css/
// --------------------------------------------------
@animation-type:				~"flipInX";
@animation-ajax-dropdown:		~"flipInY";

// IMAGE PATH & BACKGROUNDS
// --------------------------------------------------

@base-url: 						"../img";
//usage: background-image: url("@{base-url}/images/bg.png");

@html-background-image:			"mybg.png";
@html-background-color:			@white;

@body-background-image:			"mybg.png";
@body-background-color:			@white;


// HEADER
// --------------------------------------------------
@smart-navbar-height:			49px; 
@smart-navbar-color-start:		#f3f3f3;
@smart-navbar-color-end:		#e2e2e2;

// FOOTER
// --------------------------------------------------
@smart-footer-height: 52px;
@smart-footer-padding: 15px (@grid-gutter-width/2) 0;
@smart-footer-background: @asideColor-start;

// RIBBON
// --------------------------------------------------
@ribbon-height:					40px;
@ribbonBGColor:					#474544;

// AJAX DROPDOWN
// --------------------------------------------------

@dropdownbtn-icon-color:		#C4BAB6;

@ajaxdrop-arrow-top-color:		@white;
@ajaxdrop-arrow-bottom-color:	#838383;
@ajaxdropdown-arrow-size:		7px;
@ajaxdropdown-arrow-bottom:		@ajaxdropdown-arrow-size + 1;
@ajaxdropdown-height:			365px;

// ASIDE WIDTH (NAVIGATION WIDTH & COLOR)
// --------------------------------------------------

// careful when you are resizing this as it may affect lower resoltions
@asideWidth:					220px;

@asideDataURL:					"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==";
@asideColor-start:				#2A2725; /* left side */
@asideColor-end:				#3A3633; /* right side */

@asideLinkColor:				lighten(@asideColor-start, 58%);
@asideLinkColorHover:			@white;
@asideLinkColorFocus:			#C9C9C9;
@asideNavActiveBGColor:			#616161; /* the color that flashes when you click on the first nav element */
@asideNavFontSize:				@font-size-base+1; // 14px~
@asideNavFontSizeSecondLevel:	@asideNavFontSize;
@asideNavFontSizeThirdLevel:	@asideNavFontSize;

@asideNavExpanIconPush-x:		10px; /* the plus icon that appears on the parent nav when expanding and collapsing */
@asideNavExpanIconPush-y:		10px; /* these values will only address the first parent in the entire nav */

@asideExpanIconSize:			11px; /* the plus & minus icons */
@asideExpanIconMT:				2px;  /* margin top */

// SMARTADMIN ZINDEX
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

@fixed-navigation-zindex:		900; 
@fixed-ribbon-zindex:			@fixed-navigation-zindex+1; //901
@fixed-footer-zindex:			@fixed-navigation-zindex+1; //901
@morris-hover:					@fixed-navigation-zindex+3; //903
@left-panel-zindex:				@fixed-navigation-zindex+4; //904
@hidden-lefthand-menu-zindex:	@fixed-navigation-zindex+3; //903
@ajax-dropdown-zindex:			@fixed-navigation-zindex+5; //905
@ui-widget-overlay:				@fixed-navigation-zindex+49; //949
@widget-fullscreen-zindex:		@ui-widget-overlay+101; // 1050
@pace-zindex:					2000; 
@tooltip-zindex:				9999;

// WIDGET TUNING
// -------------------------

@widgetContentOverflow:			visible;

// BOOTSTRAP WIZARD
// -------------------------

@wizard-step-complete:			@tealLight;
@wizard-step-active:			@blueSky;


// TOOLTIP FONT
// -------------------------

@tooltip-font-size:				@font-size-base - 2;
@sparkline-font-size:			@tooltip-font-size;


// SLIDERS
// -------------------------

@slider-bar-color:				@blueStandard;
@handle-bg-color:				#858585;


// SWITCH BG
// -------------------------

@onOffSwitchBG:					@blueStandard;


// PROGRESS BARS SIZES
// -------------------------

@progressbar-radius:			0px;
@progressbar-micro:				3px;
@progressbar-xs:				7px;
@progressbar-sm:				14px;
@progressbar-lg:				30px;

// TABLES
// -------------------------

@table-header-color-start:		#f2f2f2;
@table-header-color-end:		#fafafa;

