<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 text-center">
            <span class="txt-color-white">IKANOW - Information Security Analytics © {{currentYear}}</span>
        </div>
    </div>
</div>