<header id="header" style="background-color: #fff; background-image: none; z-index: 1001;">
<div id="logo-group">

    <!-- top left logo -->
    <span id="logo" style="margin-top: 6px;"> <img src="styles/img/logo-ikanow.png" alt="IKANOW"></span>

</div>

<recent-projects></recent-projects>

<!-- secret toggle to show the maintenance message.  TODO: remove once architecture in place for saving/loading system messages 
<div class="toggle-maint" ng-click="showMaint = !showMaint"></div>-->

<!-- pulled right: nav area -->
<div class="pull-right" style="margin-top: 10px;">

    <!-- User info -->
    <login-info></login-info>
    <!-- end user info -->

    <div class="btn-group" uib-dropdown style="margin-right: 5px;">
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <i class="fa fa-question-circle"></i>
            <i class="fa fa-caret-down"></i>
        </button>
        <ul uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
            <li>
            </li>
            <li>
                <a href="https://ikanow.jira.com/wiki/display/TAD/Information+Security+Analytics+User+Guide" target="_blank"><i class="fa fa-book fa-fw"></i> Documentation</a>
            </li>
        </ul>
    </div>

    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <i class="fa fa-gear"></i>
            <i class="fa fa-caret-down"></i>
        </button>
        <ul uib-dropdown-menu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
            <li>
            </li>
            <li>
                <a data-ui-sref="app.manager.modal.manageUsers({editProfile: false})"><i class="fa fa-user fa-fw"></i> Users</a>
            </li>
            <li>
                <a data-ui-sref="app.manager.modal.manageUserGroups"><i class="fa fa-group fa-fw"></i> User Groups</a>
            </li>
            <li>
                <a data-ui-sref="app.manager.modal.sourceList({searchText: null})"><i class="fa fa-database fa-fw"></i> Data Sources</a>
            </li>
            <li>
                <a data-ui-sref="app.manager.modal.manageDataGroups"><i class="fa fa-th-large fa-fw"></i> Data Groups</a>
            </li>
        </ul>
    </div>


</div>
<!-- end pulled right: nav area -->

</header>