<aside id="left-panel">

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <search-nav data-menu-collapse></search-nav>
            <!--
            <li ui-sref-active="active">
                <a data-ui-sref="app.manager.manageUsers" title="Manage"><i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Manage</span></a>
            </li>
            -->

            <li ui-sref-active="active">
              <a data-ui-sref="app.report.list({urlWorkspaceId:workspaceId})" title="Reports">
                <i class="fa fa-lg fa-fw fa-files-o"></i>
                <span class="menu-item-parent">Reports</span>
              </a>
            </li>
            <li ui-sref-active="active">
                <a data-ui-sref="app.project.settings({urlWorkspaceId:workspaceId})" title="Settings"><i class="fa fa-lg fa-fw fa-sliders"></i> <span class="menu-item-parent">Settings</span></a>
            </li>

            <!--
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.flot">Flot Chart</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.morris">Morris Charts</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.inline">Inline Charts</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.graphs.chartjs">Chart.js <span
                                class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
                    </li>
                </ul>
            </li>
             -->

        </ul>
        <span class="minifyme" data-action="minifyMenu" minify-menu>
          <i class="fa fa-arrow-circle-left hit"></i>
        </span>
    </nav>

</aside>