<div id="search-bar" >

<!-- search mobile button (this is hidden till mobile view port) -->
    <div id="search-mobile" class="btn-header transparent pull-left" data-search-mobile>
        <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- input: search field -->
    <search-bar />
    <!-- end input: search field -->
</div>